.home-02-wrap {
  position: relative;
}

.home-02-wrap .cd-intro {
  margin:0;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.home-02-wrap .cd-headline {
  font-size: 140px;
  line-height: 147px;
  letter-spacing: 18px;
  padding-left: 18px;

  -webkit-animation-name: color; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-name: color;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes color {
    from {
      color: #D32F2F;
      opacity: 0.7;
    }
    to {
      color: #f3f3f3;
      opacity: 0.8;
    }
}

/* Standard syntax */
@keyframes color {
    from {
      color: #D32F2F;
      opacity: 0.7;
    }
    to {
      color: #f3f3f3;
      opacity: 0.8;
    }
}

.home-02 .home-02-wrap div.vertical-align {
  z-index: 1;
}

.home-02 .home-02-wrap .vegas-body-bg-slider {
  position: absolute;
  left: 0;
  top: 0;
}