.home-07-wrap {
  position: relative;
}

.home-07 .home-07-wrap div.vertical-align {
  z-index: 1;
}

.home-07 .home-07-wrap .vegas-body-bg-slider {
  position: absolute;
  left: 0;
  top: 0;
}

.home-07 .home-07-wrap .main-heading h3 {
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 28px;
  padding-left: 28px;
}

.home-07 .home-07-wrap .main-heading h1 {
  font-size: 120px;
  line-height: 127px;
  letter-spacing: 40px;
  padding-left: 40px;
  margin-top: 60px;
}

.home-07 .home-07-wrap .main-heading h2 {
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 12px;
  padding-left: 12px;
  overflow: hidden;
}

.home-07 .home-07-wrap .main-heading h2 b {
  font-weight: normal !important;
}

.home-07 .home-07-wrap .main-heading h2 b i em {
  font-style: normal !important;
}

.home-07 .home-07-wrap .mach-button-section {
  margin-top: 38px;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:first-child {
  margin-right: 10px;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:last-child {
  margin-left: 10px;
}