.home-04-wrap .heading-section h1 {
  font-size: 60px;
  line-height: 67px;
  letter-spacing: 6px;
  margin-bottom: 10px;
}

.home-04-wrap .heading-section h3 {
    font-size: 17px;
    color: #000;
    line-height: 25px;
    letter-spacing: 4px;
}

.home-04-wrap .heading-section .cd-intro {
  margin: 0;
  margin-top: 5px;
  overflow: hidden;
}

.home-04-wrap .heading-section .cd-intro h1 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 4px;
}

.home-04-wrap .heading-section .cd-intro h1 b {
  font-weight: inherit;
}