.home-03-wrap .content-section {
  width: 55%;
  margin-left: 10%;
}

.home-03-wrap .content-section.right {
  width: 55%;
  margin-left: 40%;
}

.home-03-wrap .main-text {
  display: inline-block;
}

.home-03-wrap .owl-item .text {
  opacity: 0;

  -webkit-transition: all 1.4s ease-in-out 0.4s;
     -moz-transition: all 1.4s ease-in-out 0.4s;
    -ms-transition: all 1.4s ease-in-out 0.4s;
     -o-transition: all 1.4s ease-in-out 0.4s;
      transition: all 1.4s ease-in-out 0.4s;
}

.home-03-wrap .owl-item.active .text {
  opacity: 1;
}

.home-03-wrap .text h1 {
  font-size: 60px;
  line-height: 67px;  
  letter-spacing: 12px;

  display: inline-block;
}


.home-03-wrap .owl-item .subtext {
  display: inline-block;
  padding: 10px 16px;
  margin-top: 10px;
  opacity: 0;

  -webkit-transition: all 1.4s ease-in-out 1s;
     -moz-transition: all 1.4s ease-in-out 1s;
    -ms-transition: all 1.4s ease-in-out 1s;
     -o-transition: all 1.4s ease-in-out 1s;
      transition: all 1.4s ease-in-out 1s;
}

.home-03-wrap .owl-item.active .subtext {
  opacity: 1;
}

.home-03-wrap .subtext h3 {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 6px;
}

/*# sourceMappingURL=style11.css.map */
