.home-06-wrap .content-section h2 span {
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 14px;
  padding: 10px 8px 8px 22px;

}

.home-06-wrap .content-section h1 {
    margin-top: 30px;
    font-size: 70px;
    line-height: 77px;
    letter-spacing: 14px;
    padding-left: 14px;
}

.home-06-wrap .content-section h1 span.cd-words-wrapper b i {
  font-style: normal !important;
}

.home-06-wrap .cd-headline.type .cd-words-wrapper.selected {
  background-color: transparent;
}

.home-06-wrap .content-section .mach-button-section {
  margin-top: 30px;
}

.home-06-wrap .content-section .mach-button-section .mach-button:first-child {
  margin-right: 10px;
}

.home-06-wrap .content-section .mach-button-section .mach-button:last-child {
  margin-left: 10px;
}

.mouse-icon {
  display: block;
  position: absolute;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 8px;
  bottom: 10%;
  left: 50%;
  z-index: 1;

  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ie-transform: translateX(-50%);
}

.mouse-icon .wheel {
  position: relative;
  width: 6px;
  height: 9px;
  border-radius: 50%;
  top: 4px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  /* Chrome, Safari, Opera */
  -webkit-animation-name:myfirst;
  -webkit-animation-duration:1s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:0s;
  -webkit-animation-iteration-count:infinite;
  
  -webkit-animation-play-state:running;
  /* Standard syntax */
  animation-name:myfirst;
  animation-duration:1s;
  animation-timing-function:linear;
  animation-delay:0s;
  animation-iteration-count:infinite;
  
  animation-play-state:running;
}

  /* Chrome, Safari, Opera */
  @-webkit-keyframes myfirst
  {
  0%   { top:4px;opacity: 0;}
  30% { top:9px;opacity: 1;}
  100% { top:25px;opacity: 0;}
  }

  /* Standard syntax */
  @keyframes myfirst
  {
  0%   { top:4px;opacity: 0;}
  30% { top:9px;opacity: 1;}
  100% { top:25px;opacity: 0;}
  }