.home-05-wrap .owl-item .content-section h1 {
  font-size: 60px;
  line-height: 67px;
  letter-spacing: 8px;
  padding-left: 8px;
  opacity: 0;

  -moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
      -o-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
          transform: translateY(-30px);

  -webkit-transition: all .4s ease-in-out 0.8s;
     -moz-transition: all .4s ease-in-out 0.8s;
    -ms-transition: all .4s ease-in-out 0.8s;
     -o-transition: all .4s ease-in-out 0.8s;
      transition: all .4s ease-in-out 0.8s;
}

.home-05-wrap .owl-item.active .content-section h1 {
  opacity: 1;

  -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
      -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
          transform: translateY(0px);
}

.home-05-wrap .owl-item .content-section p {
  font-size: 14px;
  line-height: 30px;
  padding: 20px;
  width: 40%;
  margin-left: 30%;
  opacity: 0;

  -webkit-transition: all .4s ease-in-out 1s;
     -moz-transition: all .4s ease-in-out 1s;
    -ms-transition: all .4s ease-in-out 1s;
     -o-transition: all .4s ease-in-out 1s;
      transition: all .4s ease-in-out 1s;
}

.home-05-wrap .owl-item.active .content-section p {
  opacity: 1;
}

.home-05-wrap .owl-item .content-section .mach-button-section {
  opacity: 0;

  -webkit-transition: all .4s ease-in-out 1.2s;
     -moz-transition: all .4s ease-in-out 1.2s;
    -ms-transition: all .4s ease-in-out 1.2s;
     -o-transition: all .4s ease-in-out 1.2s;
      transition: all .4s ease-in-out 1.2s;
}

.home-05-wrap .owl-item.active .content-section .mach-button-section {
  opacity: 1;
}

.home-05-wrap .content-section .mach-button-section .mach-button:first-child {
  margin-right: 10px;
}

.home-05-wrap .content-section .mach-button-section .mach-button:last-child {
  margin-left: 10px;
}