.home-01-wrap {
  position: relative;
}

.home-01-wrap .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home-01-wrap .overlay svg {
  width: 100%;
  height: 100%;
}

.home-01-wrap .overlay {
  opacity: 0.96;
}

.home-01-wrap .content-section {
  position: relative;
  z-index: 10;
}

.home-01-wrap .content-section h1 {
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.home-01-wrap .content-section h3 {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 2px;
}

.home-01-wrap .vegas-body-bg-slider {
  position: absolute !important;
}