.home-08-content-section {
  position: relative;
}

.home-08-content-section:after {
  content: '';
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  background: url(../images/pattern-bg.png);
}

.home-08-content-section .content {
  z-index: 1;
}

.home-08-content-section .content h1 {
  font-size: 60px;
  line-height: 67px;
  letter-spacing: 8px;
  padding-left: 8px;
}

.home-08-content-section .content p {
  font-size: 14px;
  line-height: 30px;
  padding: 20px;
  width: 40%;
  margin-left: 30%;
}

.home-08-content-section .mach-button-section .mach-button:first-child {
  margin-right: 10px;
}

.home-08-content-section .mach-button-section .mach-button:last-child {
  margin-left: 10px;
}

.mouse-icon {
  display: block;
  position: absolute;
  width: 30px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 8px;
  bottom: 10%;
  left: 50%;
  z-index: 1;

  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ie-transform: translateX(-50%);
}

.mouse-icon .wheel {
  position: relative;
  width: 6px;
  height: 9px;
  border-radius: 50%;
  top: 4px;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  /* Chrome, Safari, Opera */
  -webkit-animation-name:myfirst;
  -webkit-animation-duration:1s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:0s;
  -webkit-animation-iteration-count:infinite;
  
  -webkit-animation-play-state:running;
  /* Standard syntax */
  animation-name:myfirst;
  animation-duration:1s;
  animation-timing-function:linear;
  animation-delay:0s;
  animation-iteration-count:infinite;
  
  animation-play-state:running;
}

  /* Chrome, Safari, Opera */
  @-webkit-keyframes myfirst
  {
  0%   { top:4px;opacity: 0;}
  30% { top:9px;opacity: 1;}
  100% { top:25px;opacity: 0;}
  }

  /* Standard syntax */
  @keyframes myfirst
  {
  0%   { top:4px;opacity: 0;}
  30% { top:9px;opacity: 1;}
  100% { top:25px;opacity: 0;}
  }