/*MAIN.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: Micah.*/
/* Version: 1.0 Initial Release*/
/* Build Date: 02nd Jan 2015*/
/* Author: Unbranded.*/
/* Website: http://www.unbranded.co */
/* Copyright: (C) 2015 */
/*-------------------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/
/* 01 - LAYOUT INITIALIZATION & COLOR PRESETS */
/* 02 - HEADER, INTRO & NAVIGATION */
/* 03 - COMMON ELEMENTS & TYPOGRAPHY */
/* 04 - PAGES & SECTIONS SETUP*/
/* 05 - FOOTER*/


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - LAYOUT INITIALIZATION & COLOR PRESETS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
body
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden; 
}
body{
    font-weight:300;
    /*overflow-x:hidden !important; */
}

a, a:hover, a:focus{
    text-decoration: none;
}
a:focus { 
    outline: none; 
}

.ease{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.ease:hover{
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.text-center > .img-responsive{
    display: block;
    display: inline-block;
}

p{
    font-size: 13px;
    line-height:25px;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6,p,a,ul,li{
    margin: 0;
    padding: 0;
    font-weight: normal;
}
li {
    list-style: none;
}

.main-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1024px) and (max-width: 5000px) {
    .container{
        width: 800px;
    }
    .fixed-aside-section .container{
        width: 800px;
    }
}
/*--------------------------------------------------------------------------------*/
/*Common Spacing and Padding*/
/*--------------------------------------------------------------------------------*/

.add-top{
    margin-top: 160px;
}
.add-bottom{
    margin-bottom: 160px;
}
.add-top-half{
    margin-top: 80px;
}
.add-bottom-half{
    margin-bottom: 80px;
}
.add-min-top-half{
    margin-top: 40px;
}
.add-min-bottom-half{
    margin-bottom: 40px;
}
.add-min-top-quarter{
    margin-top: 20px;
}
.add-min-bottom-quarter{
    margin-bottom: 20px;
}
.pad-top{
    padding-top: 160px;
}
.pad-bottom{
    padding-bottom: 160px;
}
.pad-top-half{
    padding-top: 80px;
}
.pad-bottom-half{
    padding-bottom: 80px;
}
.pad-min-top-half{
    padding-top: 40px;
}
.pad-min-bottom-half{
    padding-bottom: 40px;
}
.pad-min-top-quarter{
    padding-top: 20px;
}
.pad-min-bottom-quarter{
    padding-bottom: 20px;
}
.pad-bottom-content {
    padding-bottom: 15px;
}

.no-padding{
    padding: 0;
}

.no-pad-bottom {
    padding-bottom: 0;
}

.display-none {
    display: none;
}

/*--------------------------------------------------------------------------------*/
/* Common Objects */
/*--------------------------------------------------------------------------------*/

.float-clear{
    clear: both;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center, .align-center{
    text-align: center;
}
.vertical-align{
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.horizontal-align{
    position: relative;
    left: 50%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.trans-bg{
    background: transparent;
}
.video-bg.player, .bgplayer{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover !important;
}
.section-bgimg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.static-position {
    position: static;
}
.img-fullwidth {
    width: 100%;
}

.fullwidth {
    width: 100%;
}

.fullheight {
    height: calc(100vh);
}

.fullheight-and-onefourth {
    height: calc(100vh + 25vh);
}

.uppercase {
    text-transform: uppercase;
}

.bold-font {
    font-weight: 700;
}

.normal-font {
    font-weight: 400;
}

.background-fixed {
    background-attachment: fixed;
}

/*-------------------------------*/
/*Preloader Style*/
/*-------------------------------*/

body.preloader-running{
    overflow: hidden;
}
div#preloader {
    background: #fff;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;
}

#status  {
    width: 200px;
    height: 200px;
    position: fixed;
    left: 50%;
    top: 50%;
    background-image: url(../images/loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - HEADER, INTRO & NAVIGATION */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*-------------------------------*/
/*Side Header Style*/
/*-------------------------------*/


/*-------------------------------*/
/*Inner Header Style*/
/*-------------------------------*/


/*-------------------------------*/
/*Section Header Style*/
/*-------------------------------*/

.section-fixed-header-wrap {
    overflow: hidden;
    position: relative;
}

.top-separator, .bottom-separator {
    position: relative;
}

.top-separator:after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 1px;
    opacity: 0.4;
}

.bottom-separator:before {
    content: '';
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
    height: 1px;
    opacity: 0.4;
}

.fixed-header {
    width: 30%;
    position: absolute;
    top: 0;
    z-index: 1;
}

.fixed-header:after {
    content: '';
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.fixing-class {
    position: fixed;
    left: 0;
    bottom:0;
}

.fixing-releaser {
    top: auto;
    bottom: 0;
}

.fixed-aside-section {
    width: 70%;
    float: left;
    margin-left: 30%;
    min-height: calc(100vH);
    /*height: auto;*/
}

/*-------------------------------*/
/*Header SVG Section Style*/
/*-------------------------------*/

.fixed-header svg.parent {
    width: 100%;
    height: calc(100vH);
}

.fixed-header text {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 4px;
    kerning: 2px;
    font-weight: 400;
    text-anchor: middle;
    text-transform: uppercase;
}

.fixed-header .letter-text, .fixed-header .letter-text-ie {
    font-size: 220px;
    line-height: 187px;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.5;
}

.fixed-header .header-text {
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 4px;
    font-weight: 400;
    text-transform: uppercase;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    text-align: center;
    opacity: 0;

    -moz-transform: translateX(-50%) translateY(20px);
    -webkit-transform: translateX(-50%) translateY(20px);
    -o-transform: translateX(-50%) translateY(20px);
    -ms-transform: translateX(-50%) translateY(20px);
    transform: translateX(-50%) translateY(20px);

    -webkit-transition: all .4s ease-in-out 1.6s;
    -moz-transition: all .4s ease-in-out 1.6s;
    -ms-transition: all .4s ease-in-out 1.6s;
    -o-transition: all .4s ease-in-out 1.6s;
    transition: all .4s ease-in-out 1.6s;				

}

.fixed-header .header-text.visible {
    opacity: 1;

    -moz-transform: translateX(-50%) translateY(0px);
    -webkit-transform: translateX(-50%) translateY(0px);
    -o-transform: translateX(-50%) translateY(0px);
    -ms-transform: translateX(-50%) translateY(0px);
    transform: translateX(-50%) translateY(0px);
}

.fixed-header #my-path {
    opacity: 0;
}

/*-------------------------------*/
/*Vertical Navigation Type 1 Style*/
/*-------------------------------*/

.main-vertical-nav-wrap .vertical-nav-trigger {
    width: 100px;
    height: 100px;
    position: fixed;
    right: 15px;
    top:15px;
    z-index: 1000;
    cursor: pointer;
}

/*Hamburger Icon Style Begin*/

#menu-toggle span {
    display: block;
    border-radius: 2px;
    box-sizing: border-box;

    -moz-transition: .25s ease-in-out;
    -webkit-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    -ms-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#menu-toggle {
    width: 100px;
    height: 100px;
    position: relative;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
#menu-toggle:hover {
}
#menu-toggle #hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
}
#menu-toggle #hamburger span {
    width: 50%;
    height: 2px;
    position: relative;
    top: 24px;
    left: 20px;
    margin: 10px 0;
}
#menu-toggle #hamburger span:nth-child(1) {
    -moz-transition-delay: .5s;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    -ms-transition-delay: .5s;
    transition-delay: .5s;
}
#menu-toggle #hamburger span:nth-child(2) {
    -moz-transition-delay: .625s;
    -webkit-transition-delay: .625s;
    -o-transition-delay: .625s;
    -ms-transition-delay: .625s;
    transition-delay: .625s;  
}
#menu-toggle #hamburger span:nth-child(3) {
    -moz-transition-delay: .75s;
    -webkit-transition-delay: .75s;
    -o-transition-delay: .75s;
    -ms-transition-delay: .75s;
    transition-delay: .75s;  
}
#menu-toggle #cross {
    position: absolute;
    height: 100%;
    width: 100%;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#menu-toggle #cross span:nth-child(1) {
    height: 0%;
    width: 2px;
    position: absolute;
    top: 24%;
    left: 48px;

    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}
#menu-toggle #cross span:nth-child(2) {
    width: 0%;
    height: 2px;
    position: absolute;
    left: 24%;
    top: 48px;

    -moz-transition-delay: .25s;
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    -ms-transition-delay: .25s;
    transition-delay: .25s;
}

#menu-toggle.open #hamburger span {
    width: 0%;
}
#menu-toggle.open #hamburger span:nth-child(1) {
    -moz-transition-delay: 0s;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    -ms-transition-delay: 0s;
    transition-delay: 0s;
}
#menu-toggle.open #hamburger span:nth-child(2) {
    -moz-transition-delay: .125s;
    -webkit-transition-delay: .125s;
    -o-transition-delay: .125s;
    -ms-transition-delay: .125s;
    transition-delay: .125s;
}
#menu-toggle.open #hamburger span:nth-child(3) {
    -moz-transition-delay: .25s;
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    -ms-transition-delay: .25s;
    transition-delay: .25s;
}
#menu-toggle.open #cross span:nth-child(1) {
    height: 50%;

    -moz-transition-delay: .625s;
    -webkit-transition-delay: .625s;
    -o-transition-delay: .625s;
    -ms-transition-delay: .625s;
    transition-delay: .625s;
}
#menu-toggle.open #cross span:nth-child(2) {
    width: 50%;

    -moz-transition-delay: .375s;
    -webkit-transition-delay: .375s;
    -o-transition-delay: .375s;
    -ms-transition-delay: .375s;
    transition-delay: .375s;
}


/*Hamburger Icon Style End*/

.main-vertical-nav-wrap .vertical-nav-container {
    width: 100%;
    position: fixed;
    right: -101%;
    top: 0;
    z-index: 990;
    background-size: cover;

    -webkit-transition: right 1.2s ease-in 0.5s;
    -moz-transition: right 1.2s ease-in 0.5s;
    -ms-transition: right 1.2s ease-in 0.5s;
    -o-transition: right 1.2s ease-in 0.5s;
    transition: right 1.2s ease-in 0.5s;
}

.main-vertical-nav-wrap .vertical-nav-container.vertical-nav-container-expnd {
    right:0 !important;

    -webkit-transition: right 1.2s ease-in;
    -moz-transition: right 1.2s ease-in;
    -ms-transition: right 1.2s ease-in;
    -o-transition: right 1.2s ease-in;
    transition: right 1.2s ease-in;
}


.mastwrap {
    opacity: 1;

    -webkit-transition: opacity 0.4s ease-in 1.2s;
    -moz-transition: opacity 0.4s ease-in 1.2s;
    -ms-transition: opacity 0.4s ease-in 1.2s;
    -o-transition: opacity 0.4s ease-in 1.2s;
    transition: opacity 0.4s ease-in 1.2s;
}
.mastwrap.main-vertical-nav-on {
    opacity: 0;

    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
}

.main-vertical-nav-wrap .vertical-nav-container.no-bg {
    background: none;
}

.vertical-nav-container .vertical-logo-section {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 50%;
    height: 100%;
    opacity: 0;

    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;				
}

.vertical-nav-container .vertical-logo-section.vertical-logo-on {
    opacity: 1;

    -webkit-transition: opacity 0.4s ease-in 1.3s;
    -moz-transition: opacity 0.4s ease-in 1.3s;
    -ms-transition: opacity 0.4s ease-in 1.3s;
    -o-transition: opacity 0.4s ease-in 1.3s;
    transition: opacity 0.4s ease-in 1.3s;	
}

.vertical-nav-container .vertical-logo-section h1 {
    margin-top: 15px;
    font-size: 19px;
    line-height: 26px;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    padding-left: 5px;
}

.vertical-nav-container .vertical-img-section {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
    top:0;
    z-index: -1;
    opacity: 0;

    -webkit-transition: opacity 0.4s ease-in;
    -moz-transition: opacity 0.4s ease-in;
    -ms-transition: opacity 0.4s ease-in;
    -o-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
}

.vertical-nav-container .vertical-img-section.vertical-img-on {
    opacity: 1;

    -webkit-transition: opacity 0.7s ease-in 1s;
    -moz-transition: opacity 0.7s ease-in 1s;
    -ms-transition: opacity 0.7s ease-in 1s;
    -o-transition: opacity 0.7s ease-in 1s;
    transition: opacity 0.7s ease-in 1s;	
}

.vertical-nav-container .vertical-menu-section {
    width: 50%;
    float: right;
}

.vertical-menu .sub-menu{
    display: none;
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}

.vertical-menu .sub-menu a {
    display: block;
}

.vertical-menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.vertical-menu ul li{
    margin-bottom: 20px;
}

.vertical-menu ul li a {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-left: 3px;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.vertical-menu ul li a + .sub-menu a {
    font-size: 12px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 10px;
}

/*-------------------------------*/
/*Horizontal Navigation Type 1 Style*/
/*-------------------------------*/

.horizontal-nav-trigger {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 1000;
    cursor: pointer;
}

.main-horizontal-nav-wrap .menu-container{
    width: auto;
    position: relative;
}

.main-horizontal-nav-wrap .menu-container .logo-section {
    position: absolute;
    left: 40px;
    top: 17px;
    display: none;
}

.main-horizontal-nav-wrap .menu-container .logo-section img {
    width: 30px;
}

.main-horizontal-nav-wrap ul.menu li > a{
    position: relative;
}


/*Main Menu Position center, left or right*/
.main-horizontal-nav-wrap ul.menu{
    text-align: center;
}

/*Main Menu Styles*/
.main-horizontal-nav-wrap ul.menu > li{
    display: inline-block;
    margin-right: 10px;
}

.main-horizontal-nav-wrap ul.menu > li > a{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 43px 25px 40px 25px;
    display: inline-block;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

/*First Level Sub Menu Styles*/
.main-horizontal-nav-wrap ul.menu .has-dropdown{
    position: relative;
}

.main-horizontal-nav-wrap ul.menu li:not(.megamenu).has-dropdown > .dropdown{
    position: absolute;
    text-align: left;
    opacity: 0;
    min-width: 210px;
    visibility: hidden;
    z-index: 10;
}

.main-horizontal-nav-wrap ul.menu .has-dropdown > .dropdown a{
    padding: 10px 20px;
    display: inline-block;
}

.main-horizontal-nav-wrap ul.menu > li:not(.megamenu).has-dropdown > .dropdown > li > a{
    width: 100%;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding-left: 15px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.main-horizontal-nav-wrap li.has-dropdown > .dropdown{
    -webkit-transition: opacity 0.2s ease;
    -moz-transition: opacity 0.2s ease;
    -o-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.main-horizontal-nav-wrap li.has-dropdown:hover > .dropdown{
    opacity: 1;
}


@media (min-width: 320px) and (max-width: 1024px) {
    .main-horizontal-nav-wrap ul.menu > li {
        display: block;
        text-align: left
    }

    .main-horizontal-nav-wrap ul.menu > li > a {
        display: inherit;
    }

    .main-horizontal-nav-wrap ul.menu li.has-dropdown:not(.megamenu) > .dropdown{
        display: none;
        visibility: visible;
        opacity: 1;
        position: static;
    }

    .main-horizontal-nav-wrap ul.menu > li:not(.megamenu).has-dropdown > .dropdown > li.has-dropdown .dropdown{
        display: none;
        width: 100%;
        z-index: 1000;
        visibility: visible;
        opacity: 1;
        position: static;
        left: 0;
        top: 100% !important;
    }
}

/*Main Horizontal Navigation Sticky*/
.main-horizontal-nav-wrap.nav-sticky-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.main-horizontal-nav-wrap.nav-sticky-on .menu-container .logo-section {
    display: block;
}

.main-horizontal-nav-wrap.nav-sticky-on ul.menu > li > a {
    padding-top: 23px;
    padding-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
}

.main-horizontal-nav-wrap.nav-sticky-on .menu-container > ul.menu > li:not(.megamenu) > .dropdown {
    top: 64px !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

/*Main Horizontal Nav for Mobile Devices*/

.main-horizontal-nav-wrap.on-mob-nav {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
}

.main-horizontal-nav-wrap.on-mob-nav ul.menu > li > a {
    padding: 10px;
}

.mobile-menu-brand-section h1 {
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 28px 10px;
}




/*To Top Button*/

.mach-to-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 555;
    width: 35px;
    height: 35px;
    border-radius: 3px;

    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.mach-to-top a{
    width: 35px;
    height: 35px;
    background: transparent;
    display: inline-block;
    margin:0;
    position: relative;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.mach-to-top a i{
    font-size: 23px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;

    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.mach-to-top:hover a i{
    -moz-transform: translateX(-50%) translateY(-50%) scale(1.2);
    -o-transform: translateX(-50%) translateY(-50%) scale(1.2);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1.2);
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1.2);
    transform: translateX(-50%) translateY(-50%) scale(1.2);
}
.mach-to-top-scale{
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 03 - COMMON ELEMENTS & TYPOGRAPHY */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------*/
/* Button Styles */
/*--------------------------------------------------------------------------------*/

.mach-button-section .mach-button-type-one, .mach-button-section .mach-button-type-three {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    padding: 12px 28px;
    overflow: hidden;
}

.mach-button-section .mach-button-type-two {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    padding: 8px 18px;
    overflow: hidden;
}

.mach-button-section .mach-button span.content {
    display: inline-block;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.mach-button-section .mach-button:hover span.content {
    color: red;
    -webkit-transform: translateY(300%);
    -moz-transform: translateY(300%);
    -ms-transform: translateY(300%);
    transform: translateY(300%);
}

.mach-button-section .mach-button span.hover-content {
    display: inline-block;
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    left: 0;
    top: 50%;

    -webkit-transform: translateY(-300%);
    -moz-transform: translateY(-300%);
    -ms-transform: translateY(-300%);
    transform: translateY(-300%);

    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
}

.mach-button-section .mach-button:hover span.hover-content {

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*-------------------------------*/
/*Page Header Style*/
/*-------------------------------*/

.main-heading h1 {
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 3px;
    padding-left: 3px;
}

.heading-type-one h2 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 1px;
    padding-left: 1px;
}

/*-------------------------------*/
/*Hero Text Style*/
/*-------------------------------*/

.hero-text h2 {
    font-size: 20px;
    line-height: 35px;
    letter-spacing: 4px;
    padding-left: 4px;
}

/*-------------------------------*/
/*Content Style*/
/*-------------------------------*/

p.main-content {
    font-size: 14px;
    line-height: 28px;
    word-spacing: 2px;
}

p.content-type-one {
    font-size: 14px;
    line-height: 26px;
}

/*-------------------------------*/
/*Name + Description Block Style*/
/*-------------------------------*/

.name-desc-block .name {
    font-size: 16px;
    line-height: 23px;
    position: relative;
    padding-right: 10px;
}

.name-desc-block .name:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 23px;
    right: 0;
    top:-3px;
}

.name-desc-block .desc {
    font-size: 14px;
    line-height: 21px;
}

/*-------------------------------*/
/*Name + Description Block Type Two Style*/
/*-------------------------------*/

.name-desc-block-type-two .name {
    font-size: 14px;
    line-height: 21px;
    position: relative;
    padding-right: 4px;
}

.name-desc-block-type-two .desc {
    font-size: 14px;
    line-height: 21px;
}

/*-------------------------------*/
/*Black and white filter*/
/*-------------------------------*/

.bw-filter {
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(filters.svg#grayscale);;
    filter: gray;
}

/*-------------------------------*/
/*Main Separator Section*/
/*-------------------------------*/

.main-separator {
    width: 100%;
    height: 1px;
    opacity: 0.4;
}

/*--------------------------------------------------------------------------------*/
/* Hover Block Styles */
/*--------------------------------------------------------------------------------*/

.hover-block-wrap .hover-block-container {
    position: relative;
    display: inline-block;
}

.hover-block-wrap .hover-block-container .hover-visible {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    opacity: 0;

    -webkit-transition: all .4s ease-in-out 0.4s;
    -moz-transition: all .4s ease-in-out 0.4s;
    -ms-transition: all .4s ease-in-out 0.4s;
    -o-transition: all .4s ease-in-out 0.4s;
    transition: all .4s ease-in-out 0.4s;
}

.hover-block-wrap:hover .hover-block-container .hover-visible {
    opacity: 1;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.hover-block-wrap .hover-block-container .hover-visible h3 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 2px;
    opacity: 0;

    -moz-transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);

    -webkit-transition: all .4s ease-in-out 0.2s;
    -moz-transition: all .4s ease-in-out 0.2s;
    -ms-transition: all .4s ease-in-out 0.2s;
    -o-transition: all .4s ease-in-out 0.2s;
    transition: all .4s ease-in-out 0.2s;				
}

.hover-block-wrap:hover .hover-block-container .hover-visible h3 {
    opacity: 1;

    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -o-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);

    -webkit-transition: all .4s ease-in-out 0.4s;
    -moz-transition: all .4s ease-in-out 0.4s;
    -ms-transition: all .4s ease-in-out 0.4s;
    -o-transition: all .4s ease-in-out 0.4s;
    transition: all .4s ease-in-out 0.4s;				
}

.hover-block-wrap .hover-block-container .hover-visible h4 {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    margin-top: 4px;
    opacity: 0;

    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;				
}

.hover-block-wrap:hover .hover-block-container .hover-visible h4 {
    opacity: 1;

    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);

    -webkit-transition: all .4s ease-in-out 0.6s;
    -moz-transition: all .4s ease-in-out 0.6s;
    -ms-transition: all .4s ease-in-out 0.6s;
    -o-transition: all .4s ease-in-out 0.6s;
    transition: all .4s ease-in-out 0.6s;				

}

/*--------------------------------------------------------------------------------*/
/* Background Video Player Styles */
/*--------------------------------------------------------------------------------*/

.video-section {
    position: relative;
}

.bgplayer{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover !important;
}

.bgplayer {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
}

.bgplayer .buttonBar {
    display: none;
}

/*--------------------------------------------------------------------------------*/
/* Intermediate Video Section Styles */
/*--------------------------------------------------------------------------------*/

.intermediate-video-section, .intermediate-video-overlay .content-section {
    height: 500px;
}

.intermediate-video-section:after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-image: url(../images/pattern-bg.png);
    background-position: center center; 
    background-repeat: repeat;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.intermediate-video-section.playing:after {
    opacity: 0;
}

.intermediate-video-overlay {
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.intermediate-video-overlay .content-section p {
    font-size: 24px;
    line-height: 51px;
    letter-spacing: 12px;
    padding-left: 12px;
}

.intermediate-video-section.playing .intermediate-video-overlay .content-section p {
    opacity: 0;
}

.play-pause-svg button {
    outline: none;
    border: 0px solid;
    background: transparent;
}

.ytp-play-button {
    opacity: 1;
}

.ytp-play-button:hover {
    cursor: pointer;
    opacity: 1;
}

.intermediate-video-section.playing .ytp-play-button {
    opacity: 0;
}

.intermediate-video-section.playing:hover .ytp-play-button {
    opacity: 0.3;
}

.intermediate-video-section.playing .ytp-play-button:hover {
    opacity: 0.7;
}

.ytp-play-button {
    padding: 0;
    width: 150px;
    height: 150px;
    border: 0;
    background-color: white;
    outline: none;
}

.intermediate-video-section .play-pause-svg svg path {
    fill: #fff;
}

/*--------------------------------------------------------------------------------*/
/* Featherlight Styles */
/*--------------------------------------------------------------------------------*/

.featherlight{
    z-index: 1100;
    cursor: auto;
}
.featherlight .featherlight-content{
    padding-top: 0px;
    border-top: 25px solid transparent;
    position: static;
}

.featherlight-iframe .featherlight-content {
    border-top: 0px solid transparent;
}

.featherlight-next span, .featherlight-previous span{
    font-size: 36px;
    line-height: 43px;
    text-shadow: none;
    display: block;
    opacity: 0.5;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.featherlight-next:hover span, .featherlight-previous:hover span {
    opacity: 1;
}

.featherlight .featherlight-close-icon{
    right: 0px;
    top: 0px;
    width: 30px;
    height: 30px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.featherlight .featherlight-close-icon i {
    font-size: 17px;
    line-height: 1px;
    display: inline-block;
    padding-top: 7px;

    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.featherlight.featherlight-loading .featherlight-content{
    background:url('../images/video-loader.gif') #fff  center center no-repeat !important;
}

.featherlight-next:hover, .featherlight-previous:hover {
    background: transparent;
}

/*--------------------------------------------------------------------------------*/
/* Testimonial Section Styles */
/*--------------------------------------------------------------------------------*/

.testimonial-each-container {
    padding: 35px;
    padding-top: 60px;
    padding-bottom: 30px;
    position: relative;
    margin-top: 45px;
    border: 10px solid;
    border-radius: 3px;
}

.testimonial-each-container .img-section {
    position: absolute;
    width: 90px;
    height: 90px;
    left: 35px;
    top: -50px;
}

.testimonial-each-container .main-separator {
    margin-top: 25px;
    margin-bottom: 20px; 
}

.testimonial-each-block:hover .img-section img {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-filter: grayscale(0%);
}

/*--------------------------------------------------------------------------------*/
/* Counter Type One Styles */
/*--------------------------------------------------------------------------------*/

.counter-type-one-each {
    position: relative;
    width: 100%;
}

.counter-type-one-each .counter-text {
    padding-left: 22px;
    padding-top: 22px;
}

.counter-type-one-each .counter-text .timer {
    font-size: 50px;
    line-height: 57px;
}

.counter-type-one-each .desc {
    position: absolute;
    bottom: 22px;
    left: 22px;
}

.counter-type-one-each .desc p {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 2px;
}

.counter-type-one-each:hover .desc p + p {
    -moz-transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -o-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

/*--------------------------------------------------------------------------------*/
/*Skillbar Section Style*/
/*--------------------------------------------------------------------------------*/

.skill-bars .skill-block {
    width: 100%;
    display: inline-block;
}

.skill-bars .level-full {
    width: 100%;
    height: 3px;
    position: relative;
}

.skill-bars  span.name {
    float: left;
    display: inline-block;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1px;
}

.skill-bars  span.amount {
    float: right;
    display: inline-block;
    font-size: 16px;
    line-height: 23px;
}

.skill-bars .level-full .actual-level {
    width: 0;
    height: 3px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/*--------------------------------------------------------------------------------*/
/* Features Section Styles */
/*--------------------------------------------------------------------------------*/

.features-each-block {
    padding: 20px;
}

.features-each-block .heading-section {
    padding-bottom: 15px;
}

.features-each-block .heading-section h4 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 2px;
}

.features-each-block .heading-section h4 .icon-section {
    padding-right: 8px;
    font-size: 26px;
    position: relative;
    top: 4px;
}

/*--------------------------------------------------------------------------------*/
/* Button Styles */
/*--------------------------------------------------------------------------------*/

/*-------------------------------*/
/*Button Style 1*/
/*-------------------------------*/


/*-------------------------------*/
/*Button Style 2*/
/*-------------------------------*/


/*-------------------------------*/
/*Button Hover Style*/
/*-------------------------------*/


/*--------------------------------------------------------------------------------*/
/* Block Hover Style */
/*--------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------*/
/* Owl Carousel Styles */
/*--------------------------------------------------------------------------------*/

/*-------------------------------*/
/*Synced Owl Carousel Type 1 Style*/
/*-------------------------------*/

.synced-owl-section {
    position: relative;
}

.sync2-owl .owl-controls {
    position: absolute;
    left: 50%;
    bottom:-15px;
    z-index: 1;

    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.sync1-owl .owl-controls .owl-dots {
    display: none !important;
}
/*-------------------------------*/
/*Owl Carousel Style*/
/*-------------------------------*/

.owl-carousel .owl-item {
    backface-visibility: initial;
}

/*-------------------------------*/
/*Owl Carousel Pagination Style*/
/*-------------------------------*/

.owl-theme .owl-dots .owl-dot span {
    width: 30px;
    height: 6px;
    border-radius: 0;
}

/*-------------------------------*/
/*Owl Carousel Navigation Style*/
/*-------------------------------*/

.owl-theme .owl-nav {
    margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav [class*=owl-] {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    /*border-radius: 50%;*/
    background: transparent;

    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}

.owl-theme .owl-nav [class*=owl-] i {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 20px;
    line-height: 1px;

    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;					
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
    left: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
    right: 0;
}

/*-------------------------------*/
/*Shuffle Style*/
/*-------------------------------*/

.gutter-grid .shuf-item.filtered, .gutter-grid .shuf-item.concealed{
    margin-left: 0% !important;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

/*--------------------------------------------------------------------------------*/
/* PNG Computer Section Styles */
/*--------------------------------------------------------------------------------*/

.png-computer-section {
    position: relative;
    overflow: hidden;
    width: 450px;
    float: right;
}

/*--------------------------------------------------------------------------------*/
/* Pricing Table Section Styles */
/*--------------------------------------------------------------------------------*/

.pricing-each-container {
    width: 100%;
    overflow: hidden;
}

.pricing-each-container .pricing-type-section {
    float: left;
    width: 20%;
    position: relative;
    overflow: hidden;
}

.pricing-each-container .pricing-type-section .text {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.pricing-each-container .pricing-type-section .text p {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;

    position: absolute;
    bottom: 40px;
    left: 72%;

    -moz-transform-origin: 0% 100%;
    -webkit-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;		
}

.pricing-each-container .pricing-type-section .text p.original-text {
    -moz-transform: rotate(-90deg) translateY(0%);
    -webkit-transform: rotate(-90deg) translateY(0%);
    -o-transform: rotate(-90deg) translateY(0%);
    -ms-transform: rotate(-90deg) translateY(0%);
    transform: rotate(-90deg) translateY(0%);
}

.pricing-each-container .pricing-type-section .text p.hover-text {
    -moz-transform: rotate(-90deg) translateY(-150%);
    -webkit-transform: rotate(-90deg) translateY(-150%);
    -o-transform: rotate(-90deg) translateY(-150%);
    -ms-transform: rotate(-90deg) translateY(-150%);
    transform: rotate(-90deg) translateY(-150%);
    opacity: 0;
    letter-spacing: 3px;
}

.pricing-each-container .pricing-type-section .text:hover p.hover-text {
    letter-spacing: 4px;
}

.pricing-each-container:hover .pricing-type-section .text p.hover-text {
    -moz-transform: rotate(-90deg) translateY(0%);
    -webkit-transform: rotate(-90deg) translateY(0%);
    -o-transform: rotate(-90deg) translateY(0%);
    -ms-transform: rotate(-90deg) translateY(0%);
    transform: rotate(-90deg) translateY(0%);
    opacity: 1;
}

.pricing-each-container:hover .pricing-type-section .text p.original-text {
    -moz-transform: rotate(-90deg) translateY(150%);
    -webkit-transform: rotate(-90deg) translateY(150%);
    -o-transform: rotate(-90deg) translateY(150%);
    -ms-transform: rotate(-90deg) translateY(150%);
    transform: rotate(-90deg) translateY(150%);
    opacity: 0;
}

.pricing-each-container .pricing-content-section {
    float: left;
    width: 80%;
    padding-bottom: 25px;
}

.pricing-each-container .pricing-content-section .price-section {
    padding: 25px 17px;
    border-bottom: 1px solid;
    overflow: hidden;
}

.pricing-each-container .pricing-content-section .price-section .price {
    font-size: 60px;
    line-height: 67px;
}

.pricing-each-container .pricing-content-section .price-section .price span {
    font-size: 20px;
    line-height: 27px;
}

.pricing-each-container .pricing-content-section .price-section .text {
    font-size: 14px;
    line-height: 21px;
    float: right;
    margin-right: 14px;
    letter-spacing: 2px;
}

.pricing-each-container:hover .pricing-content-section .price-section .text {
    margin-right:  8px;
}

.pricing-each-container .pricing-content-section .list-content-section ul li {
    list-style: none;
    display: block;
    padding: 25px 10px;
    padding-bottom: 0;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    padding-left: 12px;
}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 04 - HOME PAGE SETUP */
/*-------------------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------*/
/*Home Page 1*/
/*--------------------------------------------------------------------------------*/


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 05 - PAGES & SECTIONS SETUP */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------*/
/*About Section*/
/*--------------------------------------------------------------------------------*/

.about-section .fixed-header:after {
    background: url(../images/img/about-bg.jpg) center center no-repeat;
    background-size: cover;
}

/*--------------------------------------------------------------------------------*/
/*Services Section*/
/*--------------------------------------------------------------------------------*/

.services-section .fixed-header:after {
    background: url(../images/img/porfolio-bg.jpg) center center no-repeat;
    background-size: cover;
}

/*-------------------------------*/
/*Services Block style*/
/*-------------------------------*/

.services-each-block {
    position: relative;
    border-radius: 3px;
}

.services-each-block:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 1;

    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.services-each-block:hover:after {
    opacity: 0;
}

.services-each-container {
    position: relative;
    z-index: 1;
    padding: 17px 20px 20px 20px;
}

.services-each-block .icon-section i {
    font-size: 38px;
}

.services-each-block .heading-section h4 {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 3px;
    display: inline-block;
    border-bottom: 4px solid;
    padding-bottom: 6px;
}

.services-each-block .content-section {
    margin-top: 30px;
}

/*--------------------------------------------------------------------------------*/
/*Portfolio Section*/
/*--------------------------------------------------------------------------------*/

.portfolio-section .fixed-header:after {
    background: url(../images/img/service-bg.jpg) center center no-repeat;
    background-size: cover;
}

/*-------------------------------*/
/*Portfolio Grid Button Style*/
/*-------------------------------*/

.portfolio-buttons-container {
    display: inline-block;
}

.portfolio-buttons-container button {
    display: inline-block;
    border: none;
    background: none;
    outline: none;
}
.portfolio-buttons-container button span {
    display: block;
}

.grid-button {
    padding: 2rem;
    cursor: pointer;
    user-select: none;
}

.grid-button .grid {
    width: 1rem;
    height: 1rem;
}

.grid-button.to-close .grid {
    -webkit-transform: rotate3d(0, 0, 1, -45deg) scale3d(0.5, 0.5, 0.5);
    transform: rotate3d(0, 0, 1, -45deg) scale3d(0.5, 0.5, 0.5);
}

.grid-button.rearrange .grid {
    box-shadow: -1.25rem -1.25rem, 0 -1.25rem, 1.25rem -1.25rem, -1.25rem 0, 1.25rem 0, -1.25rem 1.25rem, 0 1.25rem, 1.25rem 1.25rem;
}

.grid-button.rearrange.to-close .grid {
    box-shadow: 0 -1rem, 0 -2rem, 1rem 0, -2rem 0, 2rem 0, -1rem 0, 0 2rem, 0 1rem;
}

/*-------------------------------*/
/*Portfolio Filter Style*/
/*-------------------------------*/

.portfolio-filter-nav {
    display: inline-block;
    position: relative;
}

.portfolio-filter-nav:after {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.portfolio-filter-nav.filter-hide:after {
    width: 100%;
    opacity: 0.95;
}

.portfolio-filter-nav ul li {
    list-style: none;
    display: inline-block;
}

.portfolio-filter-nav ul li a {
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    padding-left: 12px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 7px;
}

/*-------------------------------*/
/*Portfolio Random Grid Style*/
/*-------------------------------*/

/* clearfix */
.packery:after {
    content: ' ';
    display: block;
    clear: both;
}

.parallax-random-grid .works-item {
    width:  25%;
    position: absolute;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.parallax-random-grid .works-item.w2 { 
    width:  33%;
}
.parallax-random-grid .works-item.w4 { 
    width:  50%;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-100 {
    margin-top: 100px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.margin-bottom-130 {
    margin-bottom: 130px;
}

.margin-bottom-160 {
    margin-bottom: 160px;
}

.margin-left-20 {
    margin-left: 20%;
}

.margin-left-15 {
    margin-left: 15%;
}

.margin-left-12 {
    margin-left: 12%;
}

.margin-left-10 {
    margin-left: 10%;
}

.margin-left-5 {
    margin-left: 5%;
}

.parallax-random-grid .works-item > a {
    width: 100%;
}

.parallax-random-grid .gutter-sizer { width: 10%; }

.works-item-fade{
    opacity: 0.02;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.works-item-fade .hover-block-container .hover-block-bg {
    width: 0;
    height: 0;
}

.works-item-fade .hover-block-container .hover-block-content {
    display: none;
}

/*--------------------------------------------------------------------------------*/
/*Team Section*/
/*--------------------------------------------------------------------------------*/

.team-section .fixed-header:after {
    background: url(../images/team/team-bg-greyscale.jpg) center center no-repeat;
    background-size: cover;
}

.team-each-block {
    margin-bottom: 30px;
}

.team-content .col-md-6:last-child .team-each-block {
    margin-bottom: 0px;
}

.team-content .col-md-6:nth-last-child(2) .team-each-block {
    margin-bottom: 0px;
}

.team-each-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.team-each-container .img-section {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.team-each-container .img-section:after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.5;

    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;				
}

.team-each-container:hover .img-section:after {
    opacity: 0;
}

.team-each-container .team-desc {
    padding-top: 30px;
}

.team-each-container .team-desc .name h3 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    padding-left: 2px;
}

.team-each-container .team-desc .desig {
    margin-top: 5px;
    margin-bottom: 20px;
}

.team-each-container .team-desc .desig p {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    padding-left: 1px;
}

.team-each-container .team-desc .social-icons ul li {
    display: inline-block;
    list-style: none;
    padding-right: 15px;
}

.team-each-container .team-desc .social-icons ul li:last-child {
    padding-right: 0;
}

.team-each-container .team-desc .social-icons ul li a {
    display: inline-block;
    padding: 5px;
}

.team-each-container .team-desc .social-icons ul li a i {
    font-size: 20px;
    line-height: 27px;
}

/*--------------------------------------------------------------------------------*/
/*Blog Section*/
/*--------------------------------------------------------------------------------*/

.blog-section .fixed-header:after {
    background: url(../images/blog/blog-bg-greyscale.jpg) center center no-repeat;
    background-size: cover;
}

.blog-each-container {
    overflow: hidden;
}

.blog-each-container .img-section figure {
    position: relative;
}

.blog-each-container .img-section figure:after {
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.7;

    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.blog-each-container:hover .img-section figure:after {
    opacity: 0;
}

.blog-each-container:hover .img-section figure img {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-filter: grayscale(0%);
}

.blog-each-container .content-section .blog-title h4 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.blog-each-container .content-section p.date {
    font-size: 14px;
    line-height: 21px;
    margin: 15px 0px;
    margin-top: 7px;
}

/*-------------------------------*/
/*Newsletter Form style*/
/*-------------------------------*/

.newsletter-form {
    overflow: hidden;
}

.newsletter-form input[type="text"]{
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    width: 40%;
    background: transparent;
    border: 1px solid;
    outline: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

.newsletter-form ::-webkit-input-placeholder{ /* WebKit browsers */
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    opacity:  1;
    font-weight: 400;
}

.newsletter-form :-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    opacity:  1;
    font-weight: 400;
}

.newsletter-form ::-moz-placeholder{ /* Mozilla Firefox 19+ */
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    opacity:  1;
    font-weight: 400;
}

.newsletter-form :-ms-input-placeholder{ /* Internet Explorer 10+ */
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    opacity:  1;
    font-weight: 400;
}

.newsletter-form .mach-button-section {
    display: inline-block;
}

.newsletter-form .mach-button-section button {
    outline: none;
    border: none;
    box-shadow: none;
    padding: 7px 23px;
    font-size: 14px;
    line-height: 21px;
}

/*--------------------------------------------------------------------------------*/
/*Contact Section*/
/*--------------------------------------------------------------------------------*/

.contact-section .fixed-header:after {
    background: url(../images/img/contact-bg.jpg) center center no-repeat;
    background-size: cover;
}

/*-------------------------------*/
/*Map style*/
/*-------------------------------*/
.contact-map-wrap {
    width: 100%;
    height: 350px;
}

/*-------------------------------*/
/*Contact Address style*/
/*-------------------------------*/

.contact-one-address-container {
    width: 70%;
    margin-left: 15%;
    height: 350px;
}

.contact-one-address-container h3 {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1px;
    padding-left: 1px; 
}

.contact-one-address-container h3.heading {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 28px;
}

/*-------------------------------*/
/*Contact Form style*/
/*-------------------------------*/

.contact-form input.website_url{
    display: none !important;
}

.error-msg::-webkit-input-placeholder{
    font-weight: 700;
    color: #f00 !important;
}

.error-msg:-moz-placeholder{
    font-weight: 700;
    color: #f00 !important;
}

.error-msg::-moz-placeholder{
    font-weight: 700;
    color: #f00 !important;
}

.error-msg:-ms-input-placeholder{
    font-weight: 700;
    color: #f00 !important;
}

.contact-form input[type="text"]{
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    margin-bottom: 25px;
    display: block;
    width: 100%;
    background: transparent;
    /*border: none;*/
    border: 2px solid;
    outline: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact-form textarea{
    font-size: 14px;
    line-height: 23px;
    text-align: left;
    display: block;
    width: 100%;
    background: transparent;
    /*border: none;*/
    border: 2px solid;
    outline: none;
    resize: none;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.contact-form button[type="submit"]{
    position: relative;
    z-index: 1;
    padding: 5px 25px;
    margin-top: 20px;
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.contact-form ::-webkit-input-placeholder{ /* WebKit browsers */
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    opacity:  1;
    font-weight: 400;
}

.contact-form :-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    opacity:  1;
    font-weight: 400;
}

.contact-form ::-moz-placeholder{ /* Mozilla Firefox 19+ */
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    opacity:  1;
    font-weight: 400;
}

.contact-form :-ms-input-placeholder{ /* Internet Explorer 10+ */
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    opacity:  1;
    font-weight: 400;
}

/*MD Overlay Styles*/

.md-modal .md-content h3 {
    letter-spacing: 3px;
    padding-left: 3px;
}

.md-modal button{
    position: relative;
    z-index: 1;
    padding: 5px 25px;
    margin-top: 20px;
    outline: none;
    border: none;
    box-shadow: none;
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    transition: all .5s ease-in;
}

.md-modal button:hover {
    border: none;
}

/*--------------------------------------------------------------------------------*/
/*Footer Section*/
/*--------------------------------------------------------------------------------*/

.footer-section {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
}

.footer-wrap {
    overflow: hidden;
    margin-left: 110px;
    margin-right: 110px;
}

.footer-wrap .footer-name {
    float: left;
    width: 50%;
}

.footer-wrap .social-icons {
    float: left;
    width: 50%;
}

.footer-name h1 {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 1px;
    margin-top: 9px;
}

.footer-wrap .social-icons ul li {
    display: inline-block;
    list-style: none;
    padding-right: 15px;
}

.footer-wrap .social-icons ul li:last-child {
    padding-right: 0;
}

.footer-wrap .social-icons ul li a {
    display: inline-block;
    padding: 5px;
}

.footer-wrap .social-icons ul li a i {
    font-size: 20px;
    line-height: 27px;
}

/*--------------------------------------------------------------------------------*/
/*Parallax Styles*/
/*--------------------------------------------------------------------------------*/

.parallax-layer{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
}

/*this class will be activated on mobile devices in order to switch off the parallax effect*/
.parallax-off, .no-parallax {
    background-attachment:scroll !important;
    background-size:cover !important;
}


/*--------------------------------------------------------------------------------*/
/*Project Page Styles*/
/*--------------------------------------------------------------------------------*/

.extra-main-heading h1 {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 7px;
    padding-left: 7px;
}

/*-------------------------------*/
/*Blog Single style*/
/*-------------------------------*/

.blog-single-section .fixed-header:after {
    background: url(../images/blog-single/blog-single-bg-greyscale.jpg) center center no-repeat;
    background-size: cover;
}

/*-------------------------------*/
/*Single Project style*/
/*-------------------------------*/

.single-project-section .fixed-header:after {
    background: url(../images/single-project/single-project-bg-greyscale.jpg) center center no-repeat;
    background-size: cover;
}

/*added by salinda*/
.padding-bottom-75{
    padding-bottom: 75px;
}
.padding-20{
    padding: 20px 20px 18px 20px;
}
.no-padding-all{
    padding: 0px !important;
}
.font-size-35{
    font-size: 35px;
}
.background-gray{
    background: #504f4f;
}
.background-light-gray{
    background: #484646;
}
/*hover*/
.background-gray:hover{
    background: #404040;
}
.background-light-gray:hover{
    background: #404040;
}
.div-height{
    height: 113px;
}
.padding-top-bottom{
    padding-top: 10px;
    padding-bottom: 16px;
}
/*end added by salinda*/
