/*MAIN.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: Micah.*/
/* Author: Unbranded.*/
/* Website: http://www.unbranded.co */
/* Copyright: (C) 2015 */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*==========================*/
/*ALL DEVICE OPTIMIZATION*/
/*===========================*/

/*Large Widescreen Monitors*/
@media (min-width: 1365px) and (max-width: 5000px) {

	.container {
	    width: 900px !important;
	}
	.fixed-aside-section .container {
	    width: 800px !important;
	}

	

}


@media (min-width: 1281px) and (max-width: 1364px) {

	.container {
	    width: 900px !important;
	}
	.fixed-aside-section .container {
	    width: 800px !important;
	}

}


















@media (min-width: 1215px) and (max-width: 1280px) {

	.container {
	    width: 900px !important;
	}
	.fixed-aside-section .container {
	    width: 800px !important;
	}

}















/*Very Large Tablets and Medium Laptops*/
@media (min-width: 1153px) and (max-width: 1214px) {

	.container {
	    width: 900px !important;
	}
	.fixed-aside-section .container {
	    width: 750px !important;
	}

}
























/*Notebooks and Small Laptops*/
@media (min-width: 1025px) and (max-width: 1152px) {
	.container {
	    width: 900px !important;
	}
	.fixed-aside-section .container {
	    width: 700px !important;
	}

}
   




















@media (min-width: 961px) and (max-width: 1024px) {

.container {
    width: 900px !important;
}

/*Fixed Header Section*/

.fixed-header {
	width: 100%;
	position: relative;
}

.fixing-class {
	position: relative;
	left: 0;
	top:0;
	bottom: auto;
}

/*Fixed Aside Section*/

.fixed-aside-section {
	width: 100%;
	float: none;
	margin-left: 0;
}

.intermediate-video-overlay .content-section {
	display: none;
} 

/*PNG Computer Section*/

.png-computer-section {
	width: auto;
}

/*Menu Section*/

.vertical-nav-container .vertical-logo-section {
	width: 40%;
}

.vertical-nav-container .vertical-menu-section {
	width: 60%;
}

/*Vertical Nav*/

.vertical-nav-container .vertical-logo-section img {
	width: 70%;
}

.vertical-menu ul li a {
	font-size: 12px;
	line-height: 19px;
}

.vertical-menu ul li {
	margin-bottom: 5px;
}

.main-vertical-nav-wrap .vertical-nav-trigger {
	width: 40px;
	height: 40px;
	right: 5px;
	top: 5px;
}

#menu-toggle {
	width: 40px;
	height: 40px;
}

#menu-toggle #hamburger span {
	width: 100%;
	top: 0;
	left: 0;
	margin: 8px 0px;
}

#menu-toggle #cross span:nth-child(2) {
	left: 0%;
	top: 21px;
}

#menu-toggle.open #cross span:nth-child(2) {
	width: 100%;
}

#menu-toggle #cross span:nth-child(1) {
	top: 3px;
    left: 18px;
}

#menu-toggle.open #cross span:nth-child(1) {
	height: 100%;
}

/*Home Pages*/

/*Home Page 1*/

.home-01-wrap .content-section h1 {
	width: 50%;
}

.home-01-wrap .content-section h3 {
	width: 50%;
}

/*Home Page 2*/

.home-02-wrap .cd-headline {
	font-size: 110px;
	line-height: 117px;
}

/*Home Page 5*/

.home-05-wrap .owl-item .content-section h1 {
    font-size: 50px;
    line-height: 57px;
}

.home-05-wrap .owl-item .content-section p {
	width: 80%;
	margin-left: 10%;
}

/*Home Page 6*/


.home-06-wrap .content-section h2 span {
    letter-spacing: 10px;
    padding: 10px 8px 8px 18px;
} 

.home-06-wrap .content-section h1 {
    margin-top: 26px;
    font-size: 60px;
    line-height: 67px;
    letter-spacing: 10px;
    padding-left: 10px;
}

/*Home Page 7*/

.home-07 .home-07-wrap .main-heading h3 {
    letter-spacing: 20px;
    padding-left: 20px;
}

.home-07 .home-07-wrap .main-heading h1 {
    font-size: 70px;
    line-height: 77px;
    letter-spacing: 14px;
    padding-left: 14px;
    margin-top: 40px;
}

/*Home Page 8*/

.home-08-content-section .content h1 {
    font-size: 50px;
    line-height: 57px;
}

.home-08-content-section .content p {
	width: 80%;
	margin-left: 10%;
}

}























/*Small Desktop and Very Small Notebook */
@media (min-width: 801px) and (max-width: 960px) {
.container {
    width: 760px !important;
}

/*Fixed Header Section*/

.fixed-header {
	width: 100%;
	position: relative;
}

.fixing-class {
	position: relative;
	left: 0;
	top:0;
	bottom: auto;
}

/*Fixed Aside Section*/

.fixed-aside-section {
	width: 100%;
	float: none;
	margin-left: 0;
}

.intermediate-video-overlay .content-section {
	display: none;
} 

/*PNG Computer Section*/

.png-computer-section {
	width: auto;
}

/*Menu Section*/

.vertical-nav-container .vertical-logo-section {
	width: 40%;
}

.vertical-nav-container .vertical-menu-section {
	width: 60%;
}

/*Vertical Nav*/

.vertical-nav-container .vertical-logo-section img {
	width: 70%;
}

.vertical-menu ul li a {
	font-size: 12px;
	line-height: 19px;
}

.vertical-menu ul li {
	margin-bottom: 5px;
}

.main-vertical-nav-wrap .vertical-nav-trigger {
	width: 40px;
	height: 40px;
	right: 5px;
	top: 5px;
}

#menu-toggle {
	width: 40px;
	height: 40px;
}

#menu-toggle #hamburger span {
	width: 100%;
	top: 0;
	left: 0;
	margin: 8px 0px;
}

#menu-toggle #cross span:nth-child(2) {
	left: 0%;
	top: 21px;
}

#menu-toggle.open #cross span:nth-child(2) {
	width: 100%;
}

#menu-toggle #cross span:nth-child(1) {
	top: 3px;
    left: 18px;
}

#menu-toggle.open #cross span:nth-child(1) {
	height: 100%;
}

/*Home Pages*/

/*Home Page 1*/

.home-01-wrap .content-section h1 {
	width: 50%;
}

.home-01-wrap .content-section h3 {
	width: 50%;
}

/*Home Page 2*/

.home-02-wrap .cd-headline {
	font-size: 90px;
	line-height: 97px;
	letter-spacing: 16px;
	padding-left: 16px;
}

/*Home Page 5*/

.home-05-wrap .owl-item .content-section h1 {
    font-size: 50px;
    line-height: 57px;
}

.home-05-wrap .owl-item .content-section p {
	width: 80%;
	margin-left: 10%;
}

/*Home Page 6*/


.home-06-wrap .content-section h2 span {
    letter-spacing: 10px;
    padding: 10px 8px 8px 18px;
} 

.home-06-wrap .content-section h1 {
    margin-top: 26px;
    font-size: 60px;
    line-height: 67px;
    letter-spacing: 10px;
    padding-left: 10px;
}

/*Home Page 7*/

.home-07 .home-07-wrap .main-heading h3 {
    letter-spacing: 20px;
    padding-left: 20px;
}

.home-07 .home-07-wrap .main-heading h1 {
    font-size: 70px;
    line-height: 77px;
    letter-spacing: 14px;
    padding-left: 14px;
    margin-top: 40px;
}

/*Home Page 8*/

.home-08-content-section .content h1 {
    font-size: 50px;
    line-height: 57px;
}

.home-08-content-section .content p {
	width: 80%;
	margin-left: 10%;
}


}










/*windows machine 782px*/
@media (min-width: 768px) and (max-width: 800px) { 

.container {
	width: 720px !important;
}

/*Fixed Header Section*/

.fixed-header {
	width: 100%;
	position: relative;
}

.fixing-class {
	position: relative;
	left: 0;
	top:0;
	bottom: auto;
}

/*Fixed Aside Section*/

.fixed-aside-section {
	width: 100%;
	float: none;
	margin-left: 0;
}

.intermediate-video-overlay .content-section {
	display: none;
} 

/*PNG Computer Section*/

.png-computer-section {
	width: auto;
}

/*Menu Section*/

.vertical-nav-container .vertical-logo-section {
	width: 40%;
}

.vertical-nav-container .vertical-menu-section {
	width: 60%;
}

/*Vertical Nav*/

.vertical-nav-container .vertical-logo-section img {
	width: 70%;
}

.vertical-menu ul li a {
	font-size: 12px;
	line-height: 19px;
}

.vertical-menu ul li {
	margin-bottom: 5px;
}

.main-vertical-nav-wrap .vertical-nav-trigger {
	width: 40px;
	height: 40px;
	right: 5px;
	top: 5px;
}

#menu-toggle {
	width: 40px;
	height: 40px;
}

#menu-toggle #hamburger span {
	width: 100%;
	top: 0;
	left: 0;
	margin: 8px 0px;
}

#menu-toggle #cross span:nth-child(2) {
	left: 0%;
	top: 21px;
}

#menu-toggle.open #cross span:nth-child(2) {
	width: 100%;
}

#menu-toggle #cross span:nth-child(1) {
	top: 3px;
    left: 18px;
}

#menu-toggle.open #cross span:nth-child(1) {
	height: 100%;
}

/*Home Pages*/

/*Home Page 1*/

.home-01-wrap .content-section h1 {
	font-size: 36px;
	line-height: 43px;
	width: 50%;
	text-align: left;
}

.home-01-wrap .content-section h3 {
	width: 50%;
	text-align: left;
}

.home-01-wrap .mach-button-section {
	text-align: left;
}

/*Home Page 2*/

.home-02-wrap .cd-headline {
	font-size: 80px;
	line-height: 87px;
	letter-spacing: 16px;
	padding-left: 16px;
}

/*Home Page 3*/


.home-03-wrap .text h1 {
    font-size: 50px;
    line-height: 57px;
    letter-spacing: 6px;
}


/*Home Page 5*/

.home-05-wrap .owl-item .content-section h1 {
    font-size: 50px;
    line-height: 57px;
}

.home-05-wrap .owl-item .content-section p {
	width: 80%;
	margin-left: 10%;
}

/*Home Page 6*/


.home-06-wrap .content-section h2 span {
    letter-spacing: 10px;
    padding: 10px 8px 8px 18px;
} 

.home-06-wrap .content-section h1 {
    margin-top: 26px;
    font-size: 60px;
    line-height: 67px;
    letter-spacing: 10px;
    padding-left: 10px;
}

/*Home Page 7*/

.home-07 .home-07-wrap .main-heading h3 {
    letter-spacing: 20px;
    padding-left: 20px;
}

.home-07 .home-07-wrap .main-heading h1 {
    font-size: 70px;
    line-height: 77px;
    letter-spacing: 14px;
    padding-left: 14px;
    margin-top: 40px;
}

/*Home Page 8*/

.home-08-content-section .content h1 {
    font-size: 50px;
    line-height: 57px;
}

.home-08-content-section .content p {
	width: 80%;
	margin-left: 10%;
}


}













































/*iPad Portrait Mode, iPad Mini and Small Tablets */
@media (min-width: 739px) and (max-width: 767px) {

.container {
    width: 700px !important;
    text-align: center;
}

.text-left, .text-right {
	text-align: center;
}

/*Common Spacing And Padding*/

.add-top{
	margin-top: 80px;
}
.add-bottom{
	margin-bottom: 80px;
}
.add-top-half{
	margin-top: 40px;
}
.add-bottom-half{
	margin-bottom: 40px;
}
.add-min-top-half{
	margin-top: 25px;
}
.add-min-bottom-half{
	margin-bottom: 25px;
}
.add-min-top-quarter{
	margin-top: 20px;
}
.add-min-bottom-quarter{
	margin-bottom: 20px;
}
.pad-top{
	padding-top: 80px;
}
.pad-bottom{
	padding-bottom: 80px;
}
.pad-top-half{
	padding-top: 40px;
}
.pad-bottom-half{
	padding-bottom: 40px;
}
.pad-min-top-half{
	padding-top: 25px;
}
.pad-min-bottom-half{
	padding-bottom: 25px;
}
.pad-min-top-quarter{
	padding-top: 20px;
}
.pad-min-bottom-quarter{
	padding-bottom: 20px;
}
.pad-bottom-content {
	padding-bottom: 15px;
}


/*Fixed Header Section*/

.fixed-header {
	width: 100%;
	position: relative;
}

.fixing-class {
	position: relative;
	left: 0;
	top:0;
	bottom: auto;
}

/*Fixed Aside Section*/

.fixed-aside-section {
	width: 100%;
	float: none;
	margin-left: 0;
}

.intermediate-video-overlay .content-section {
	display: none;
}    

/*Counter Section*/

.counter-type-one-each {
	width: 60%;
	margin-left: 20%;
}

.counter-type-one-wrap .row article {
	margin-bottom: 20px;
}

.counter-type-one-wrap .row article:last-child {
	margin-bottom: 0;
}

.counter-type-one-wrap .counter-text, .counter-type-one-wrap .desc {
	text-align: left;
}

/*Features Section*/

.intermediate-features-section article .features-each-block {
	width: 60%;
	margin-left: 20%;
	margin-bottom: 20px;
	padding: 30px;
}

.intermediate-features-section article:last-child .features-each-block {
	margin-bottom: 20px;
}

/*SkillBar Section*/

.skill-bars {
	margin-top: 20px;
}

/*png computer section*/

.png-computer-section {
	width: auto;
	float: none;
	margin-top: 20px;
}

/*Team Section*/

.team-each-container {
	width: 60%;
	margin-left: 20%;
}

.team-each-container .img-section {
	width: 180px;
	height: 180px;
}

.team-content .col-md-6:nth-last-child(2) .team-each-block {
	margin-bottom: 30px;
}

/*Intermediate Pricing Section*/

.intermediate-pricing-section article .pricing-each-block {
	margin-bottom: 20px;
	width: 50%;
	margin-left: 25%;
}

.intermediate-pricing-section article:last-child .pricing-each-block {
	margin-bottom: 0px;
}

.pricing-each-container .pricing-type-section {
	text-align: left;
}

/*Blog Section*/

.blog-each-block {
	width: 60%;
	margin-left: 20%;
}

.blog-each-block:nth-child(even) .img-section {
	margin-top: 20px;
}

.blog-each-block:nth-child(odd) .content-section {
	margin-top: 20px;
}

.blog-each-container .content-section .vertical-align {
	position: static;

	-moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.blog-each-container .content-section .blog-title h4 {
	font-size: 16px;
	line-height: 23px;
}

/*Newsletter Section*/

.newsletter-form input[type="text"] {
	width: 80%;
	margin-bottom: 20px;
}

/*Footer Section*/

.footer-wrap {
	margin-left: 20px;
	margin-right: 20px;
}

.footer-wrap .footer-name {
	width: 100%;
	float: none;
	text-align: center;
}

.footer-wrap .social-icons {
	margin-top: 20px;
	width: 100%;
	float: none;
}

/*Extra Section*/

.extra-main-heading h1 {
	font-size: 30px;
	line-height: 50px;
}

/*Menu Section*/

.vertical-nav-container .vertical-logo-section {
	width: 40%;
}

.vertical-nav-container .vertical-menu-section {
	width: 60%;
}

/*Vertical Nav*/

.vertical-nav-container .vertical-logo-section img {
	width: 70%;
}

.vertical-menu ul li a {
	font-size: 12px;
	line-height: 19px;
}

.vertical-menu ul li {
	margin-bottom: 5px;
}

.main-vertical-nav-wrap .vertical-nav-trigger {
	width: 40px;
	height: 40px;
	right: 5px;
	top: 5px;
}

#menu-toggle {
	width: 40px;
	height: 40px;
}

#menu-toggle #hamburger span {
	width: 100%;
	top: 0;
	left: 0;
	margin: 8px 0px;
}

#menu-toggle #cross span:nth-child(2) {
	left: 0%;
	top: 21px;
}

#menu-toggle.open #cross span:nth-child(2) {
	width: 100%;
}

#menu-toggle #cross span:nth-child(1) {
	top: 3px;
    left: 18px;
}

#menu-toggle.open #cross span:nth-child(1) {
	height: 100%;
}

/*Home Pages*/

/*Home Page 1*/

.home-01-wrap .content-section h1 {
	font-size: 36px;
	line-height: 43px;
	width: 50%;
	text-align: left;
}

.home-01-wrap .content-section h3 {
	width: 50%;
	text-align: left;
}

.home-01-wrap .mach-button-section {
	text-align: left;
}

/*Home Page 2*/

.home-02-wrap .cd-headline {
	font-size: 70px;
	line-height: 77px;
	letter-spacing: 16px;
	padding-left: 16px;
}

/*Home Page 3*/


.home-03-wrap .text h1 {
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 6px;
}

/*Home Page 4*/

.home-04-wrap .heading-section h1 {
    font-size: 54px;
    line-height: 61px;
    text-align: left;
}

.home-04-wrap .heading-section h3 {
    text-align: left;
}

.home-04-wrap .heading-section .cd-intro h1 {
    text-align: left;
}

/*Home Page 5*/

.home-05-wrap .owl-item .content-section h1 {
    font-size: 40px;
    line-height: 47px;
}

.home-05-wrap .owl-item .content-section p {
	width: 100%;
	margin-left: 0;
}

/*Home Page 6*/


.home-06-wrap .content-section h2 span {
    letter-spacing: 8px;
    padding: 10px 8px 8px 16px;
} 

.home-06-wrap .content-section h1 {
    margin-top: 26px;
    font-size: 50px;
    line-height: 57px;
    letter-spacing: 10px;
    padding-left: 10px;
}

/*Home Page 7*/

.home-07 .home-07-wrap .main-heading h3 {
    letter-spacing: 20px;
    padding-left: 20px;
}

.home-07 .home-07-wrap .main-heading h1 {
    font-size: 70px;
    line-height: 77px;
    letter-spacing: 14px;
    padding-left: 14px;
    margin-top: 40px;
}

/*Home Page 8*/

.home-08-content-section .content h1 {
    font-size: 40px;
    line-height: 47px;
}

.home-08-content-section .content p {
	width: 80%;
	margin-left: 10%;
}

}















/*Medium Smart Phones v2*/
@media (min-width: 641px) and (max-width: 738px) {

.container {
    width: 610px !important;
    text-align: center;
}

.text-left, .text-right {
	text-align: center;
}

/*Common Spacing And Padding*/

.add-top{
	margin-top: 80px;
}
.add-bottom{
	margin-bottom: 80px;
}
.add-top-half{
	margin-top: 40px;
}
.add-bottom-half{
	margin-bottom: 40px;
}
.add-min-top-half{
	margin-top: 25px;
}
.add-min-bottom-half{
	margin-bottom: 25px;
}
.add-min-top-quarter{
	margin-top: 20px;
}
.add-min-bottom-quarter{
	margin-bottom: 20px;
}
.pad-top{
	padding-top: 80px;
}
.pad-bottom{
	padding-bottom: 80px;
}
.pad-top-half{
	padding-top: 40px;
}
.pad-bottom-half{
	padding-bottom: 40px;
}
.pad-min-top-half{
	padding-top: 25px;
}
.pad-min-bottom-half{
	padding-bottom: 25px;
}
.pad-min-top-quarter{
	padding-top: 20px;
}
.pad-min-bottom-quarter{
	padding-bottom: 20px;
}
.pad-bottom-content {
	padding-bottom: 15px;
}


/*Fixed Header Section*/

.fixed-header {
	width: 100%;
	position: relative;
}

.fixing-class {
	position: relative;
	left: 0;
	top:0;
	bottom: auto;
}

/*Fixed Aside Section*/

.fixed-aside-section {
	width: 100%;
	float: none;
	margin-left: 0;
}

/*Main Heading*/

.main-heading h1 {
	font-size: 26px;
	line-height: 33px;
}

/*Common Text Content*/

p.main-content {
	font-size: 12px;
    line-height: 26px;
}

.intermediate-video-overlay .content-section {
	display: none;
}    

/*Counter Section*/

.counter-type-one-each {
	width: 60%;
	margin-left: 20%;
}

.counter-type-one-wrap .row article {
	margin-bottom: 20px;
}

.counter-type-one-wrap .row article:last-child {
	margin-bottom: 0;
}

.counter-type-one-wrap .counter-text, .counter-type-one-wrap .desc {
	text-align: left;
}

/*Features Section*/

.intermediate-features-section article .features-each-block {
	width: 60%;
	margin-left: 20%;
	margin-bottom: 20px;
	padding: 30px;
}

.intermediate-features-section article:last-child .features-each-block {
	margin-bottom: 20px;
}

/*SkillBar Section*/

.skill-bars {
	margin-top: 20px;
}

/*Portfolio Section*/

.parallax-random-grid {
	padding-left:0;
	padding-right: 0;
	width: 80% !important;
	margin-left: 10%;
}

.parallax-random-grid .works-item, .parallax-random-grid .works-item.w2, .parallax-random-grid .works-item.w4 {
	width: 100%;
}

.margin-top-20, .margin-top-50, .margin-top-70, .margin-top-100, .margin-bottom-80, .margin-bottom-130,
.margin-bottom-160, .margin-left-20, .margin-left-15, .margin-left-12, .margin-left-10, .margin-left-5  {
	margin: 0px;
}


/*png computer section*/

.png-computer-section {
	width: auto;
	float: none;
	margin-top: 20px;
}

/*Team Section*/

.team-each-container {
	width: 60%;
	margin-left: 20%;
}

.team-each-container .img-section {
	width: 180px;
	height: 180px;
}

.team-content .col-md-6:nth-last-child(2) .team-each-block {
	margin-bottom: 30px;
}

/*Intermediate Pricing Section*/

.intermediate-pricing-section article .pricing-each-block {
	margin-bottom: 20px;
	width: 50%;
	margin-left: 25%;
}

.intermediate-pricing-section article:last-child .pricing-each-block {
	margin-bottom: 0px;
}

.pricing-each-container .pricing-type-section {
	text-align: left;
}

/*Blog Section*/

.blog-each-block {
	width: 60%;
	margin-left: 20%;
}

.blog-each-block:nth-child(even) .img-section {
	margin-top: 20px;
}

.blog-each-block:nth-child(odd) .content-section {
	margin-top: 20px;
}

.blog-each-container .content-section .vertical-align {
	position: static;

	-moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.blog-each-container .content-section .blog-title h4 {
	font-size: 16px;
	line-height: 23px;
}

/*Newsletter Section*/

.newsletter-form input[type="text"] {
	width: 80%;
	margin-bottom: 20px;
}

/*Footer Section*/

.footer-wrap {
	margin-left: 20px;
	margin-right: 20px;
}

.footer-wrap .footer-name {
	width: 100%;
	float: none;
	text-align: center;
}

.footer-wrap .social-icons {
	margin-top: 20px;
	width: 100%;
	float: none;
}

/*Extra Section*/

.extra-main-heading h1 {
	font-size: 26px;
	line-height: 50px;
}

/*Menu Section*/

.vertical-nav-container .vertical-logo-section {
	width: 40%;
}

.vertical-nav-container .vertical-menu-section {
	width: 60%;
}

/*Vertical Nav*/

.vertical-nav-container .vertical-logo-section img {
	width: 70%;
}

.vertical-menu ul li a {
	font-size: 12px;
	line-height: 19px;
}

.vertical-menu ul li {
	margin-bottom: 5px;
}

.main-vertical-nav-wrap .vertical-nav-trigger {
	width: 40px;
	height: 40px;
	right: 5px;
	top: 5px;
}

#menu-toggle {
	width: 40px;
	height: 40px;
}

#menu-toggle #hamburger span {
	width: 100%;
	top: 0;
	left: 0;
	margin: 8px 0px;
}

#menu-toggle #cross span:nth-child(2) {
	left: 0%;
	top: 21px;
}

#menu-toggle.open #cross span:nth-child(2) {
	width: 100%;
}

#menu-toggle #cross span:nth-child(1) {
	top: 3px;
    left: 18px;
}

#menu-toggle.open #cross span:nth-child(1) {
	height: 100%;
}

/*Home Pages*/

/*Home Page 1*/

.home-01-wrap .content-section h1 {
	font-size: 32px;
	line-height: 39px;
	width: 50%;
	text-align: left;
}

.home-01-wrap .content-section h3 {
	width: 50%;
	text-align: left;
}

.home-01-wrap .mach-button-section {
	text-align: left;
}

/*Home Page 2*/

.home-02-wrap .cd-headline {
	font-size: 60px;
	line-height: 67px;
	letter-spacing: 12px;
	padding-left: 12px;
}

/*Home Page 3*/


.home-03-wrap .text h1 {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 6px;
}

.home-03-wrap .subtext h3 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 3px;
}

/*Home Page 4*/

.home-04-wrap .heading-section h1 {
    font-size: 50px;
    line-height: 57px;
    text-align: left;
}

.home-04-wrap .heading-section h3 {
    letter-spacing: 2px;
    text-align: left;
}

.home-04-wrap .heading-section .cd-intro h1 {
    letter-spacing: 2px;
    text-align: left;
}

/*Home Page 5*/

.home-05-wrap .owl-item .content-section h1 {
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 6px;
    padding-left: 6px;
}

.home-05-wrap .owl-item .content-section p {
	width: 100%;
	margin-left: 0;
}

.home-05-wrap .content-section .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-05-wrap .content-section .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

/*Home Page 6*/


.home-06-wrap .content-section h2 span {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 6px;
    padding: 10px 8px 8px 14px;
} 

.home-06-wrap .content-section h1 {
    margin-top: 26px;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 8px;
    padding-left: 8px;
}

/*Home Page 7*/

.home-07 .home-07-wrap .main-heading h3 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 10px;
    padding-left: 10px;
}

.home-07 .home-07-wrap .main-heading h1 {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 10px;
    padding-left: 10px;
    margin-top: 20px;
}

.home-07 .home-07-wrap .main-heading h2 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

/*Home Page 8*/

.home-08-content-section .content h1 {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-08-content-section .content p {
	width: 100%;
	margin-left: 0;
	padding: 5px 30px;
}

.home-08-content-section .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-08-content-section .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

}

















/*Medium Smart Phones v2*/
@media (min-width: 601px) and (max-width: 640px) {

.container {
    width: 560px !important;
    text-align: center;
}

.text-left, .text-right {
	text-align: center;
}

/*Common Spacing And Padding*/

.add-top{
	margin-top: 80px;
}
.add-bottom{
	margin-bottom: 80px;
}
.add-top-half{
	margin-top: 40px;
}
.add-bottom-half{
	margin-bottom: 40px;
}
.add-min-top-half{
	margin-top: 25px;
}
.add-min-bottom-half{
	margin-bottom: 25px;
}
.add-min-top-quarter{
	margin-top: 20px;
}
.add-min-bottom-quarter{
	margin-bottom: 20px;
}
.pad-top{
	padding-top: 80px;
}
.pad-bottom{
	padding-bottom: 80px;
}
.pad-top-half{
	padding-top: 40px;
}
.pad-bottom-half{
	padding-bottom: 40px;
}
.pad-min-top-half{
	padding-top: 25px;
}
.pad-min-bottom-half{
	padding-bottom: 25px;
}
.pad-min-top-quarter{
	padding-top: 20px;
}
.pad-min-bottom-quarter{
	padding-bottom: 20px;
}
.pad-bottom-content {
	padding-bottom: 15px;
}


/*Fixed Header Section*/

.fixed-header {
	width: 100%;
	position: relative;
}

.fixing-class {
	position: relative;
	left: 0;
	top:0;
	bottom: auto;
}

/*Fixed Aside Section*/

.fixed-aside-section {
	width: 100%;
	float: none;
	margin-left: 0;
}

/*Main Heading*/

.main-heading h1 {
	font-size: 24px;
	line-height: 31px;
}

/*Common Text Content*/

p.main-content {
	font-size: 12px;
    line-height: 26px;
}

.hero-text h2 {
    font-size: 18px;
    line-height: 31px;
}

.intermediate-video-overlay .content-section {
	display: none;
}    

/*Counter Section*/

.counter-type-one-each {
	width: 60%;
	margin-left: 20%;
}

.counter-type-one-wrap .row article {
	margin-bottom: 20px;
}

.counter-type-one-wrap .row article:last-child {
	margin-bottom: 0;
}

.counter-type-one-wrap .counter-text, .counter-type-one-wrap .desc {
	text-align: left;
}

/*Features Section*/

.intermediate-features-section article .features-each-block {
	width: 60%;
	margin-left: 20%;
	margin-bottom: 20px;
	padding: 30px;
}

.intermediate-features-section article:last-child .features-each-block {
	margin-bottom: 20px;
}

/*SkillBar Section*/

.skill-bars {
	margin-top: 20px;
}

.skill-bars span.name {
	font-size: 14px;
	line-height: 21px;
}

/*Portfolio Section*/

.parallax-random-grid {
	padding-left:0;
	padding-right: 0;
	width: 80% !important;
	margin-left: 10%;
}

.parallax-random-grid .works-item, .parallax-random-grid .works-item.w2, .parallax-random-grid .works-item.w4 {
	width: 100%;
}

.margin-top-20, .margin-top-50, .margin-top-70, .margin-top-100, .margin-bottom-80, .margin-bottom-130,
.margin-bottom-160, .margin-left-20, .margin-left-15, .margin-left-12, .margin-left-10, .margin-left-5  {
	margin: 0px;
}


/*png computer section*/

.png-computer-section {
	width: auto;
	float: none;
	margin-top: 20px;
}

/*Team Section*/

.team-each-container {
	width: 60%;
	margin-left: 20%;
}

.team-each-container .img-section {
	width: 180px;
	height: 180px;
}

.team-each-container .team-desc .name h3 {
	font-size: 16px;
	line-height: 23px;
}

.team-content .col-md-6:nth-last-child(2) .team-each-block {
	margin-bottom: 30px;
}

/*Intermediate Pricing Section*/

.intermediate-pricing-section article .pricing-each-block {
	margin-bottom: 20px;
	width: 60%;
	margin-left: 20%;
}

.intermediate-pricing-section article:last-child .pricing-each-block {
	margin-bottom: 0px;
}

.pricing-each-container .pricing-type-section {
	text-align: left;
}

/*Blog Section*/

.blog-each-block {
	width: 60%;
	margin-left: 20%;
}

.blog-each-block:nth-child(even) .img-section {
	margin-top: 20px;
}

.blog-each-block:nth-child(odd) .content-section {
	margin-top: 20px;
}

.blog-each-container .content-section .vertical-align {
	position: static;

	-moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.blog-each-container .content-section .blog-title h4 {
	font-size: 16px;
	line-height: 23px;
}

/*Newsletter Section*/

.newsletter-form input[type="text"] {
	width: 100%;
	margin-bottom: 20px;
}

/*Footer Section*/

.footer-wrap {
	margin-left: 20px;
	margin-right: 20px;
}

.footer-wrap .footer-name {
	width: 100%;
	float: none;
	text-align: center;
}

.footer-wrap .social-icons {
	margin-top: 20px;
	width: 100%;
	float: none;
}

/*Extra Section*/

.extra-main-heading h1 {
	font-size: 20px;
	line-height: 40px;
}

/*Menu Section*/

.vertical-nav-container .vertical-logo-section {
	width: 40%;
}

.vertical-nav-container .vertical-menu-section {
	width: 60%;
}

/*Vertical Nav*/

.vertical-nav-container .vertical-logo-section img {
	width: 70%;
}

.vertical-menu ul li a {
	font-size: 12px;
	line-height: 19px;
}

.vertical-menu ul li {
	margin-bottom: 5px;
}

.main-vertical-nav-wrap .vertical-nav-trigger {
	width: 40px;
	height: 40px;
	right: 5px;
	top: 5px;
}

#menu-toggle {
	width: 40px;
	height: 40px;
}

#menu-toggle #hamburger span {
	width: 100%;
	top: 0;
	left: 0;
	margin: 8px 0px;
}

#menu-toggle #cross span:nth-child(2) {
	left: 0%;
	top: 21px;
}

#menu-toggle.open #cross span:nth-child(2) {
	width: 100%;
}

#menu-toggle #cross span:nth-child(1) {
	top: 3px;
    left: 18px;
}

#menu-toggle.open #cross span:nth-child(1) {
	height: 100%;
}

/*Home Pages*/

/*Home Page 1*/

.home-01-wrap .content-section h1 {
	font-size: 28px;
	line-height: 35px;
	width: 50%;
	text-align: left;
}

.home-01-wrap .content-section h3 {
	font-size: 14px;
	line-height: 28px;
	width: 50%;
	text-align: left;
}

.home-01-wrap .mach-button-section {
	text-align: left;
}

/*Home Page 2*/

.home-02-wrap .cd-headline {
	font-size: 50px;
	line-height: 57px;
	letter-spacing: 12px;
	padding-left: 12px;
}

/*Home Page 3*/


.home-03-wrap .text h1 {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 6px;
}

.home-03-wrap .subtext h3 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 3px;
}

/*Home Page 4*/

.home-04-wrap .heading-section h1 {
    font-size: 40px;
    line-height: 47px;
    text-align: left;
}

.home-04-wrap .heading-section h3 {
    letter-spacing: 2px;
    text-align: left;
}

.home-04-wrap .heading-section .cd-intro h1 {
    letter-spacing: 2px;
    text-align: left;
}

/*Home Page 5*/

.home-05-wrap .owl-item .content-section h1 {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 6px;
    padding-left: 6px;
}

.home-05-wrap .owl-item .content-section p {
	width: 100%;
	margin-left: 0;
}

.home-05-wrap .content-section .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-05-wrap .content-section .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

/*Home Page 6*/


.home-06-wrap .content-section h2 span {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 6px;
    padding: 10px 8px 8px 14px;
} 

.home-06-wrap .content-section h1 {
    margin-top: 26px;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 8px;
    padding-left: 8px;
}

/*Home Page 7*/

.home-07 .home-07-wrap .main-heading h3 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 10px;
    padding-left: 10px;
}

.home-07 .home-07-wrap .main-heading h1 {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 10px;
    padding-left: 10px;
    margin-top: 20px;
}

.home-07 .home-07-wrap .main-heading h2 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

/*Home Page 8*/

.home-08-content-section .content h1 {
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-08-content-section .content p {
	width: 100%;
	margin-left: 0;
	padding: 5px 30px;
}

.home-08-content-section .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-08-content-section .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

} 



















/*Google Nexus and Other Large Smart Phones v1*/
@media (min-width: 481px) and (max-width: 600px) {

.container {
    width: 440px !important;
    text-align: center;
}

.text-left, .text-right {
	text-align: center;
}

/*Common Spacing And Padding*/

.add-top{
	margin-top: 80px;
}
.add-bottom{
	margin-bottom: 80px;
}
.add-top-half{
	margin-top: 40px;
}
.add-bottom-half{
	margin-bottom: 40px;
}
.add-min-top-half{
	margin-top: 25px;
}
.add-min-bottom-half{
	margin-bottom: 25px;
}
.add-min-top-quarter{
	margin-top: 20px;
}
.add-min-bottom-quarter{
	margin-bottom: 20px;
}
.pad-top{
	padding-top: 80px;
}
.pad-bottom{
	padding-bottom: 80px;
}
.pad-top-half{
	padding-top: 40px;
}
.pad-bottom-half{
	padding-bottom: 40px;
}
.pad-min-top-half{
	padding-top: 25px;
}
.pad-min-bottom-half{
	padding-bottom: 25px;
}
.pad-min-top-quarter{
	padding-top: 20px;
}
.pad-min-bottom-quarter{
	padding-bottom: 20px;
}
.pad-bottom-content {
	padding-bottom: 15px;
}


/*Fixed Header Section*/

.fixed-header {
	width: 100%;
	position: relative;
}

.fixing-class {
	position: relative;
	left: 0;
	top:0;
	bottom: auto;
}

/*Fixed Aside Section*/

.fixed-aside-section {
	width: 100%;
	float: none;
	margin-left: 0;
}

/*Main Heading*/

.main-heading h1 {
	font-size: 22px;
	line-height: 29px;
}

/*Common Text Content*/

p.main-content {
	font-size: 12px;
    line-height: 26px;
    word-spacing: 0px;
}

.hero-text h2 {
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 2px;
    padding-left: 2px;
}

.intermediate-video-overlay .content-section {
	display: none;
}    

/*Counter Section*/

.counter-type-one-each {
	width: 80%;
	margin-left: 10%;
}

.counter-type-one-wrap .row article {
	margin-bottom: 20px;
}

.counter-type-one-wrap .row article:last-child {
	margin-bottom: 0;
}

.counter-type-one-wrap .counter-text, .counter-type-one-wrap .desc {
	text-align: left;
}

/*Features Section*/

.intermediate-features-section article .features-each-block {
	margin-bottom: 20px;
	padding: 30px;
}

.intermediate-features-section article:last-child .features-each-block {
	margin-bottom: 20px;
}

/*SkillBar Section*/

.skill-bars {
	margin-top: 20px;
}

.skill-bars span.name {
	font-size: 14px;
	line-height: 21px;
}

/*Portfolio Section*/

.parallax-random-grid {
	padding-left:0;
	padding-right: 0;
	width: auto !important;
}

.parallax-random-grid .works-item, .parallax-random-grid .works-item.w2, .parallax-random-grid .works-item.w4 {
	width: 100%;
}

.margin-top-20, .margin-top-50, .margin-top-70, .margin-top-100, .margin-bottom-80, .margin-bottom-130,
.margin-bottom-160, .margin-left-20, .margin-left-15, .margin-left-12, .margin-left-10, .margin-left-5  {
	margin: 0px;
}


/*png computer section*/

.png-computer-section {
	width: auto;
	float: none;
	margin-top: 20px;
}

/*Team Section*/

.team-each-container {
	width: 80%;
	margin-left: 10%;
}

.team-each-container .img-section {
	width: 180px;
	height: 180px;
}

.team-each-container .team-desc .name h3 {
	font-size: 16px;
	line-height: 23px;
}

.team-content .col-md-6:nth-last-child(2) .team-each-block {
	margin-bottom: 30px;
}

/*Intermediate Pricing Section*/

.intermediate-pricing-section article .pricing-each-block {
	margin-bottom: 20px;
	width: 80%;
	margin-left: 10%;
}

.intermediate-pricing-section article:last-child .pricing-each-block {
	margin-bottom: 0px;
}

.pricing-each-container .pricing-type-section {
	text-align: left;
}

/*Blog Section*/

.blog-each-block {
	width: 80%;
	margin-left: 10%;
}

.blog-each-block:nth-child(even) .img-section {
	margin-top: 20px;
}

.blog-each-block:nth-child(odd) .content-section {
	margin-top: 20px;
}

.blog-each-container .content-section .vertical-align {
	position: static;

	-moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.blog-each-container .content-section .blog-title h4 {
	font-size: 16px;
	line-height: 23px;
}

/*Newsletter Section*/

.newsletter-form input[type="text"] {
	width: 100%;
	margin-bottom: 20px;
}

/*Footer Section*/

.footer-wrap {
	margin-left: 20px;
	margin-right: 20px;
}

.footer-wrap .footer-name {
	width: 100%;
	float: none;
	text-align: center;
}

.footer-wrap .social-icons {
	margin-top: 20px;
	width: 100%;
	float: none;
}

/*Extra Section*/

.extra-main-heading h1 {
	font-size: 20px;
	line-height: 40px;
}

/*Menu Section*/

.vertical-nav-container .vertical-logo-section {
	width: 40%;
}

.vertical-nav-container .vertical-menu-section {
	width: 60%;
}

/*Vertical Nav*/

.vertical-nav-container .vertical-logo-section img {
	width: 70%;
}

.vertical-menu ul li a {
	font-size: 12px;
	line-height: 19px;
}

.vertical-menu ul li {
	margin-bottom: 5px;
}

.main-vertical-nav-wrap .vertical-nav-trigger {
	width: 40px;
	height: 40px;
	right: 5px;
	top: 5px;
}

#menu-toggle {
	width: 40px;
	height: 40px;
}

#menu-toggle #hamburger span {
	width: 100%;
	top: 0;
	left: 0;
	margin: 8px 0px;
}

#menu-toggle #cross span:nth-child(2) {
	left: 0%;
	top: 21px;
}

#menu-toggle.open #cross span:nth-child(2) {
	width: 100%;
}

#menu-toggle #cross span:nth-child(1) {
	top: 3px;
    left: 18px;
}

#menu-toggle.open #cross span:nth-child(1) {
	height: 100%;
}

/*Home Pages*/

/*Home Page 1*/

.home-01-wrap .content-section h1 {
	font-size: 28px;
	line-height: 35px;
	width: 50%;
	text-align: left;
}

.home-01-wrap .content-section h3 {
	font-size: 14px;
	line-height: 28px;
	width: 50%;
	text-align: left;
}

.home-01-wrap .mach-button-section {
	text-align: left;
}

/*Home Page 2*/

.home-02-wrap .cd-headline {
	font-size: 44px;
	line-height: 51px;
	letter-spacing: 10px;
	padding-left: 10px;
}

/*Home Page 3*/


.home-03-wrap .text h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 6px;
}

.home-03-wrap .subtext h3 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 3px;
}

/*Home Page 4*/

.home-04-wrap .heading-section h1 {
    font-size: 34px;
    line-height: 41px;
    text-align: left;
}

.home-04-wrap .heading-section h3 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: left;
}

.home-04-wrap .heading-section .cd-intro h1 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: left;
}

/*Home Page 5*/

.home-05-wrap .owl-item .content-section h1 {
    font-size: 26px;
    line-height: 33px;
    letter-spacing: 6px;
    padding-left: 6px;
}

.home-05-wrap .owl-item .content-section p {
	width: 100%;
	margin-left: 0;
}

.home-05-wrap .owl-item .content-section .mach-button-section {
	padding: 0px 10px;
}

.home-05-wrap .content-section .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-05-wrap .content-section .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

/*Home Page 6*/


.home-06-wrap .content-section h2 span {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 4px;
    padding: 10px 8px 8px 12px;
} 

.home-06-wrap .content-section h1 {
    margin-top: 26px;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 6px;
    padding-left: 6px;
}

/*Home Page 7*/

.home-07 .home-07-wrap .main-heading h3 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 10px;
    padding-left: 10px;
}

.home-07 .home-07-wrap .main-heading h1 {
    font-size: 48px;
    line-height: 55px;
    letter-spacing: 10px;
    padding-left: 10px;
    margin-top: 20px;
}

.home-07 .home-07-wrap .main-heading h2 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-07-wrap .mach-button-section {
	padding: 0px 10px;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

/*Home Page 8*/

.home-08-content-section .content h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-08-content-section .content p {
	width: 100%;
	margin-left: 0;
	padding: 5px 30px;
}

.home-08-wrap .mach-button-section {
	padding: 0px 10px;
}

.home-08-content-section .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-08-content-section .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

}















/*iPhone Landscape Mode and Mediium Smart Phones*/
@media (min-width: 376px) and (max-width: 414px) {

.container {
    width: 345px !important;
    text-align: center;
}

.text-left, .text-right {
	text-align: center;
}

/*Common Spacing And Padding*/

.add-top{
	margin-top: 80px;
}
.add-bottom{
	margin-bottom: 80px;
}
.add-top-half{
	margin-top: 40px;
}
.add-bottom-half{
	margin-bottom: 40px;
}
.add-min-top-half{
	margin-top: 25px;
}
.add-min-bottom-half{
	margin-bottom: 25px;
}
.add-min-top-quarter{
	margin-top: 20px;
}
.add-min-bottom-quarter{
	margin-bottom: 20px;
}
.pad-top{
	padding-top: 80px;
}
.pad-bottom{
	padding-bottom: 80px;
}
.pad-top-half{
	padding-top: 40px;
}
.pad-bottom-half{
	padding-bottom: 40px;
}
.pad-min-top-half{
	padding-top: 25px;
}
.pad-min-bottom-half{
	padding-bottom: 25px;
}
.pad-min-top-quarter{
	padding-top: 20px;
}
.pad-min-bottom-quarter{
	padding-bottom: 20px;
}
.pad-bottom-content {
	padding-bottom: 15px;
}


/*Fixed Header Section*/

.fixed-header {
	width: 100%;
	position: relative;
}

.fixing-class {
	position: relative;
	left: 0;
	top:0;
	bottom: auto;
}

/*Fixed Aside Section*/

.fixed-aside-section {
	width: 100%;
	float: none;
	margin-left: 0;
}

/*Main Heading*/

.main-heading h1 {
	font-size: 20px;
	line-height: 27px;
}

/*Common Text Content*/

p.main-content {
	font-size: 12px;
    line-height: 26px;
    word-spacing: 0px;
}

.name-desc-block .name {
	font-size: 14px;
	line-height: 21px;
}

.name-desc-block .desc {
	font-size: 12px;
	line-height: 19px;
}

.heading-type-one h2 {
	font-size: 18px;
	line-height: 25px;
}

p.content-type-one {
    font-size: 12px;
    line-height: 24px;
}

.hero-text h2 {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 2px;
    padding-left: 2px;
}

.intermediate-video-overlay .content-section {
	display: none;
}    

/*Counter Section*/

.counter-type-one-wrap .row article {
	margin-bottom: 20px;
}

.counter-type-one-wrap .row article:last-child {
	margin-bottom: 0;
}

.counter-type-one-wrap .counter-text, .counter-type-one-wrap .desc {
	text-align: left;
}

/*Features Section*/

.intermediate-features-section article .features-each-block {
	margin-bottom: 20px;
}

.intermediate-features-section article:last-child .features-each-block {
	margin-bottom: 20px;
}

/*SkillBar Section*/

.skill-bars {
	margin-top: 20px;
}

.skill-bars span.name {
	font-size: 14px;
	line-height: 21px;
}

/*Portfolio Section*/

.parallax-random-grid {
	padding-left:0;
	padding-right: 0;
	width: auto !important;
}

.parallax-random-grid .works-item, .parallax-random-grid .works-item.w2, .parallax-random-grid .works-item.w4 {
	width: 100%;
}

.margin-top-20, .margin-top-50, .margin-top-70, .margin-top-100, .margin-bottom-80, .margin-bottom-130,
.margin-bottom-160, .margin-left-20, .margin-left-15, .margin-left-12, .margin-left-10, .margin-left-5  {
	margin: 0px;
}


/*png computer section*/

.png-computer-section {
	width: auto;
	float: none;
	margin-top: 20px;
}

/*Team Section*/

.team-each-container .img-section {
	width: 180px;
	height: 180px;
}

.team-each-container .team-desc .name h3 {
	font-size: 16px;
	line-height: 23px;
}

.team-content .col-md-6:nth-last-child(2) .team-each-block {
	margin-bottom: 30px;
}

/*Intermediate Pricing Section*/

.intermediate-pricing-section article .pricing-each-block {
	margin-bottom: 20px;
}

.intermediate-pricing-section article:last-child .pricing-each-block {
	margin-bottom: 0px;
}

.pricing-each-container .pricing-type-section {
	text-align: left;
}

/*Blog Section*/

.blog-each-block:nth-child(even) .img-section {
	margin-top: 20px;
}

.blog-each-block:nth-child(odd) .content-section {
	margin-top: 20px;
}

.blog-each-container .content-section .vertical-align {
	position: static;

	-moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.blog-each-container .content-section .blog-title h4 {
	font-size: 16px;
	line-height: 23px;
}

/*Newsletter Section*/

.newsletter-form input[type="text"] {
	width: 100%;
	margin-bottom: 20px;
}

/*Footer Section*/

.footer-wrap {
	margin-left: 20px;
	margin-right: 20px;
}

.footer-wrap .footer-name {
	width: 100%;
	float: none;
	text-align: center;
}

.footer-wrap .social-icons {
	margin-top: 20px;
	width: 100%;
	float: none;
}

/*Extra Section*/

.extra-main-heading h1 {
	font-size: 20px;
	line-height: 40px;
}

/*Menu Section*/

.vertical-nav-container .vertical-logo-section {
	width: 40%;
}

.vertical-nav-container .vertical-menu-section {
	width: 60%;
}

/*Vertical Nav*/

.vertical-nav-container .vertical-logo-section img {
	width: 70%;
}

.vertical-menu ul li a {
	font-size: 12px;
	line-height: 19px;
}

.vertical-menu ul li {
	margin-bottom: 5px;
}

.main-vertical-nav-wrap .vertical-nav-trigger {
	width: 40px;
	height: 40px;
	right: 5px;
	top: 5px;
}

#menu-toggle {
	width: 40px;
	height: 40px;
}

#menu-toggle #hamburger span {
	width: 100%;
	top: 0;
	left: 0;
	margin: 8px 0px;
}

#menu-toggle #cross span:nth-child(2) {
	left: 0%;
	top: 21px;
}

#menu-toggle.open #cross span:nth-child(2) {
	width: 100%;
}

#menu-toggle #cross span:nth-child(1) {
	top: 3px;
    left: 18px;
}

#menu-toggle.open #cross span:nth-child(1) {
	height: 100%;
}

/*Home Pages*/

/*Home Page 1*/

.home-01-wrap .content-section h1 {
	font-size: 20px;
	line-height: 27px;
	width: 50%;
	text-align: left;
}

.home-01-wrap .content-section h3 {
	font-size: 13px;
	line-height: 27px;
	width: 50%;
	text-align: left;
}

.home-01-wrap .mach-button-section {
	text-align: left;
}

/*Home Page 2*/

.home-02-wrap .cd-headline {
	font-size: 36px;
	line-height: 31px;
	letter-spacing: 8px;
	padding-left: 8px;
}

/*Home Page 3*/


.home-03-wrap .text h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 6px;
}

.home-03-wrap .subtext h3 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 3px;
}

/*Home Page 4*/

.home-04-wrap .heading-section h1 {
    font-size: 30px;
    line-height: 37px;
    text-align: left;
}

.home-04-wrap .heading-section h3 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: left;
}

.home-04-wrap .heading-section .cd-intro h1 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: left;
}

/*Home Page 5*/

.home-05-wrap .owl-item .content-section h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-05-wrap .owl-item .content-section p {
	width: 100%;
	margin-left: 0;
}

.home-05-wrap .owl-item .content-section .mach-button-section {
	padding: 0px 10px;
}

.home-05-wrap .content-section .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-05-wrap .content-section .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

/*Home Page 6*/


.home-06-wrap .content-section h2 span {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 4px;
    padding: 10px 8px 8px 12px;
} 

.home-06-wrap .content-section h1 {
    margin-top: 20px;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 4px;
    padding-left: 4px;
}

/*Home Page 7*/

.home-07 .home-07-wrap .main-heading h3 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 10px;
    padding-left: 10px;
}

.home-07 .home-07-wrap .main-heading h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 4px;
    padding-left: 4px;
    margin-top: 20px;
}

.home-07 .home-07-wrap .main-heading h2 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-07-wrap .mach-button-section {
	padding: 0px 10px;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

/*Home Page 8*/

.home-08-content-section .content h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-08-content-section .content p {
	width: 100%;
	margin-left: 0;
	padding: 5px;
}

.home-08-wrap .mach-button-section {
	padding: 0px 10px;
}

.home-08-content-section .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-08-content-section .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

}











/*iPhone Landscape Mode and Mediium Smart Phones*/
@media (min-width: 361px) and (max-width: 375px) {

.container {
    width: 335px !important;
    text-align: center;
}

.text-left, .text-right {
	text-align: center;
}

/*Common Spacing And Padding*/

.add-top{
	margin-top: 80px;
}
.add-bottom{
	margin-bottom: 80px;
}
.add-top-half{
	margin-top: 40px;
}
.add-bottom-half{
	margin-bottom: 40px;
}
.add-min-top-half{
	margin-top: 25px;
}
.add-min-bottom-half{
	margin-bottom: 25px;
}
.add-min-top-quarter{
	margin-top: 20px;
}
.add-min-bottom-quarter{
	margin-bottom: 20px;
}
.pad-top{
	padding-top: 80px;
}
.pad-bottom{
	padding-bottom: 80px;
}
.pad-top-half{
	padding-top: 40px;
}
.pad-bottom-half{
	padding-bottom: 40px;
}
.pad-min-top-half{
	padding-top: 25px;
}
.pad-min-bottom-half{
	padding-bottom: 25px;
}
.pad-min-top-quarter{
	padding-top: 20px;
}
.pad-min-bottom-quarter{
	padding-bottom: 20px;
}
.pad-bottom-content {
	padding-bottom: 15px;
}


/*Fixed Header Section*/

.fixed-header {
	width: 100%;
	position: relative;
}

.fixing-class {
	position: relative;
	left: 0;
	top:0;
	bottom: auto;
}

/*Fixed Aside Section*/

.fixed-aside-section {
	width: 100%;
	float: none;
	margin-left: 0;
}

/*Main Heading*/

.main-heading h1 {
	font-size: 20px;
	line-height: 27px;
}

/*Common Text Content*/

p.main-content {
	font-size: 12px;
    line-height: 26px;
    word-spacing: 0px;
}

.name-desc-block .name {
	font-size: 14px;
	line-height: 21px;
}

.name-desc-block .desc {
	font-size: 12px;
	line-height: 19px;
}

.heading-type-one h2 {
	font-size: 18px;
	line-height: 25px;
}

p.content-type-one {
    font-size: 12px;
    line-height: 24px;
}

.hero-text h2 {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 2px;
    padding-left: 2px;
}

.intermediate-video-overlay .content-section {
	display: none;
}    

/*Services Section*/

.services-each-block .heading-section h4 {
	font-size: 14px;
	line-height: 24px;
}

/*Counter Section*/

.counter-type-one-wrap .row article {
	margin-bottom: 20px;
}

.counter-type-one-wrap .row article:last-child {
	margin-bottom: 0;
}

.counter-type-one-wrap .counter-text, .counter-type-one-wrap .desc {
	text-align: left;
}

/*Features Section*/

.intermediate-features-section article .features-each-block {
	margin-bottom: 20px;
}

.intermediate-features-section article:last-child .features-each-block {
	margin-bottom: 20px;
}

.features-each-block .heading-section h4 {
	font-size: 14px;
	line-height: 21px;
}

/*SkillBar Section*/

.skill-bars {
	margin-top: 20px;
}

.skill-bars span.name {
	font-size: 14px;
	line-height: 21px;
}

/*Portfolio Section*/

.parallax-random-grid {
	padding-left:0;
	padding-right: 0;
	width: auto !important;
}

.parallax-random-grid .works-item, .parallax-random-grid .works-item.w2, .parallax-random-grid .works-item.w4 {
	width: 100%;
}

.margin-top-20, .margin-top-50, .margin-top-70, .margin-top-100, .margin-bottom-80, .margin-bottom-130,
.margin-bottom-160, .margin-left-20, .margin-left-15, .margin-left-12, .margin-left-10, .margin-left-5  {
	margin: 0px;
}


/*png computer section*/

.png-computer-section {
	width: auto;
	float: none;
	margin-top: 20px;
}

/*Team Section*/

.team-each-container .img-section {
	width: 180px;
	height: 180px;
}

.team-each-container .team-desc .name h3 {
	font-size: 16px;
	line-height: 23px;
}

.team-content .col-md-6:nth-last-child(2) .team-each-block {
	margin-bottom: 30px;
}

/*Intermediate Pricing Section*/

.intermediate-pricing-section article .pricing-each-block {
	margin-bottom: 20px;
}

.intermediate-pricing-section article:last-child .pricing-each-block {
	margin-bottom: 0px;
}

.pricing-each-container .pricing-type-section {
	text-align: left;
}

/*Blog Section*/

.blog-each-block:nth-child(even) .img-section {
	margin-top: 20px;
}

.blog-each-block:nth-child(odd) .content-section {
	margin-top: 20px;
}

.blog-each-container .content-section .vertical-align {
	position: static;

	-moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.blog-each-container .content-section .blog-title h4 {
	font-size: 16px;
	line-height: 23px;
}

/*Newsletter Section*/

.newsletter-form input[type="text"] {
	width: 100%;
	margin-bottom: 20px;
}

/*Footer Section*/

.footer-wrap {
	margin-left: 20px;
	margin-right: 20px;
}

.footer-wrap .footer-name {
	width: 100%;
	float: none;
	text-align: center;
}

.footer-wrap .social-icons {
	margin-top: 20px;
	width: 100%;
	float: none;
}

/*Extra Section*/

.extra-main-heading h1 {
	font-size: 20px;
	line-height: 40px;
}

/*Menu Section*/

.vertical-nav-container .vertical-logo-section {
	width: 40%;
}

.vertical-nav-container .vertical-menu-section {
	width: 60%;
}

/*Vertical Nav*/

.vertical-nav-container .vertical-logo-section img {
	width: 70%;
}

.vertical-menu ul li a {
	font-size: 12px;
	line-height: 19px;
}

.vertical-menu ul li {
	margin-bottom: 5px;
}

.main-vertical-nav-wrap .vertical-nav-trigger {
	width: 40px;
	height: 40px;
	right: 5px;
	top: 5px;
}

#menu-toggle {
	width: 40px;
	height: 40px;
}

#menu-toggle #hamburger span {
	width: 100%;
	top: 0;
	left: 0;
	margin: 8px 0px;
}

#menu-toggle #cross span:nth-child(2) {
	left: 0%;
	top: 21px;
}

#menu-toggle.open #cross span:nth-child(2) {
	width: 100%;
}

#menu-toggle #cross span:nth-child(1) {
	top: 3px;
    left: 18px;
}

#menu-toggle.open #cross span:nth-child(1) {
	height: 100%;
}

/*Home Pages*/

/*Home Page 1*/

.home-01-wrap .content-section h1 {
	font-size: 20px;
	line-height: 27px;
	width: 50%;
	text-align: left;
}

.home-01-wrap .content-section h3 {
	font-size: 13px;
	line-height: 27px;
	width: 50%;
	text-align: left;
}

.home-01-wrap .mach-button-section {
	text-align: left;
}

/*Home Page 2*/

.home-02-wrap .cd-headline {
	font-size: 36px;
	line-height: 31px;
	letter-spacing: 8px;
	padding-left: 8px;
}

/*Home Page 3*/


.home-03-wrap .text h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 6px;
}

.home-03-wrap .subtext h3 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 3px;
}

/*Home Page 4*/

.home-04-wrap .heading-section h1 {
    font-size: 24px;
    line-height: 31px;
    text-align: left;
}

.home-04-wrap .heading-section h3 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: left;
}

.home-04-wrap .heading-section .cd-intro h1 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: left;
}

/*Home Page 5*/

.home-05-wrap .owl-item .content-section h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-05-wrap .owl-item .content-section p {
	width: 100%;
	margin-left: 0;
}

.home-05-wrap .owl-item .content-section .mach-button-section {
	padding: 0px 10px;
}

.home-05-wrap .content-section .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-05-wrap .content-section .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

/*Home Page 6*/


.home-06-wrap .content-section h2 span {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 4px;
    padding: 10px 8px 8px 12px;
} 

.home-06-wrap .content-section h1 {
    margin-top: 20px;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: 4px;
    padding-left: 4px;
}

/*Home Page 7*/

.home-07 .home-07-wrap .main-heading h3 {
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 10px;
    padding-left: 10px;
}

.home-07 .home-07-wrap .main-heading h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 4px;
    padding-left: 4px;
    margin-top: 20px;
}

.home-07 .home-07-wrap .main-heading h2 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-07-wrap .mach-button-section {
	padding: 0px 10px;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

/*Home Page 8*/

.home-08-content-section .content h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-08-content-section .content p {
	width: 100%;
	margin-left: 0;
	padding: 5px;
}

.home-08-wrap .mach-button-section {
	padding: 0px 10px;
}

.home-08-content-section .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-08-content-section .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

}


















/*iPhone Portrait Mode and Very Small Mobile Phones*/
@media screen and (max-width: 360px) {
.container {
    width: 300px !important;
    text-align: center;
}

.text-left, .text-right {
	text-align: center;
}

/*Common Spacing And Padding*/

.add-top{
	margin-top: 80px;
}
.add-bottom{
	margin-bottom: 80px;
}
.add-top-half{
	margin-top: 40px;
}
.add-bottom-half{
	margin-bottom: 40px;
}
.add-min-top-half{
	margin-top: 25px;
}
.add-min-bottom-half{
	margin-bottom: 25px;
}
.add-min-top-quarter{
	margin-top: 20px;
}
.add-min-bottom-quarter{
	margin-bottom: 20px;
}
.pad-top{
	padding-top: 80px;
}
.pad-bottom{
	padding-bottom: 80px;
}
.pad-top-half{
	padding-top: 40px;
}
.pad-bottom-half{
	padding-bottom: 40px;
}
.pad-min-top-half{
	padding-top: 25px;
}
.pad-min-bottom-half{
	padding-bottom: 25px;
}
.pad-min-top-quarter{
	padding-top: 20px;
}
.pad-min-bottom-quarter{
	padding-bottom: 20px;
}
.pad-bottom-content {
	padding-bottom: 15px;
}


/*Fixed Header Section*/

.fixed-header {
	width: 100%;
	position: relative;
}

.fixing-class {
	position: relative;
	left: 0;
	top:0;
	bottom: auto;
}

/*Fixed Aside Section*/

.fixed-aside-section {
	width: 100%;
	float: none;
	margin-left: 0;
}

/*Main Heading*/

.main-heading h1 {
	font-size: 20px;
	line-height: 27px;
}

/*Common Text Content*/

p.main-content {
	font-size: 12px;
    line-height: 26px;
    word-spacing: 0px;
}

.name-desc-block .name {
	font-size: 14px;
	line-height: 21px;
}

.name-desc-block .desc {
	font-size: 12px;
	line-height: 19px;
}

.heading-type-one h2 {
	font-size: 18px;
	line-height: 25px;
}

p.content-type-one {
    font-size: 12px;
    line-height: 24px;
}

.hero-text h2 {
    font-size: 16px;
    line-height: 29px;
    letter-spacing: 2px;
    padding-left: 2px;
}

.intermediate-video-overlay .content-section {
	display: none;
}    

/*Services Section*/

.services-each-block .heading-section h4 {
	font-size: 14px;
	line-height: 24px;
}

/*Counter Section*/

.counter-type-one-wrap .row article {
	margin-bottom: 20px;
}

.counter-type-one-wrap .row article:last-child {
	margin-bottom: 0;
}

.counter-type-one-wrap .counter-text, .counter-type-one-wrap .desc {
	text-align: left;
}

/*Features Section*/

.intermediate-features-section article .features-each-block {
	margin-bottom: 20px;
}

.intermediate-features-section article:last-child .features-each-block {
	margin-bottom: 20px;
}

.features-each-block .heading-section h4 {
	font-size: 14px;
	line-height: 21px;
}

/*SkillBar Section*/

.skill-bars {
	margin-top: 20px;
}

.skill-bars span.name {
	font-size: 14px;
	line-height: 21px;
}

/*Portfolio Section*/

.parallax-random-grid {
	padding-left:0;
	padding-right: 0;
	width: auto !important;
}

.parallax-random-grid .works-item, .parallax-random-grid .works-item.w2, .parallax-random-grid .works-item.w4 {
	width: 100%;
}

.margin-top-20, .margin-top-50, .margin-top-70, .margin-top-100, .margin-bottom-80, .margin-bottom-130,
.margin-bottom-160, .margin-left-20, .margin-left-15, .margin-left-12, .margin-left-10, .margin-left-5  {
	margin: 0px;
}


/*png computer section*/

.png-computer-section {
	width: auto;
	float: none;
	margin-top: 20px;
}

/*Team Section*/

.team-each-container .img-section {
	width: 180px;
	height: 180px;
}

.team-each-container .team-desc .name h3 {
	font-size: 16px;
	line-height: 23px;
}

.team-content .col-md-6:nth-last-child(2) .team-each-block {
	margin-bottom: 30px;
}

/*Intermediate Pricing Section*/

.intermediate-pricing-section article .pricing-each-block {
	margin-bottom: 20px;
}

.intermediate-pricing-section article:last-child .pricing-each-block {
	margin-bottom: 0px;
}

.pricing-each-container .pricing-type-section {
	text-align: left;
}

/*Blog Section*/

.blog-each-block:nth-child(even) .img-section {
	margin-top: 20px;
}

.blog-each-block:nth-child(odd) .content-section {
	margin-top: 20px;
}

.blog-each-container .content-section .vertical-align {
	position: static;

	-moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.blog-each-container .content-section .blog-title h4 {
	font-size: 16px;
	line-height: 23px;
}

/*Newsletter Section*/

.newsletter-form input[type="text"] {
	width: 100%;
	margin-bottom: 20px;
}

/*Footer Section*/

.footer-wrap {
	margin-left: 20px;
	margin-right: 20px;
}

.footer-wrap .footer-name {
	width: 100%;
	float: none;
	text-align: center;
}

.footer-wrap .social-icons {
	margin-top: 20px;
	width: 100%;
	float: none;
}

/*Extra Section*/

.extra-main-heading h1 {
	font-size: 20px;
	line-height: 40px;
}

/*Menu Section*/

.vertical-nav-container .vertical-logo-section {
	width: 40%;
}

.vertical-nav-container .vertical-menu-section {
	width: 60%;
}

/*Vertical Nav*/

.vertical-nav-container .vertical-logo-section img {
	width: 70%;
}

.vertical-menu ul li a {
	font-size: 12px;
	line-height: 19px;
}

.vertical-menu ul li {
	margin-bottom: 5px;
}

.main-vertical-nav-wrap .vertical-nav-trigger {
	width: 40px;
	height: 40px;
	right: 5px;
	top: 5px;
}

#menu-toggle {
	width: 40px;
	height: 40px;
}

#menu-toggle #hamburger span {
	width: 100%;
	top: 0;
	left: 0;
	margin: 8px 0px;
}

#menu-toggle #cross span:nth-child(2) {
	left: 0%;
	top: 21px;
}

#menu-toggle.open #cross span:nth-child(2) {
	width: 100%;
}

#menu-toggle #cross span:nth-child(1) {
	top: 3px;
    left: 18px;
}

#menu-toggle.open #cross span:nth-child(1) {
	height: 100%;
}

/*Home Pages*/

/*Home Page 1*/

.home-01-wrap .content-section h1 {
	font-size: 20px;
	line-height: 27px;
	width: 50%;
	text-align: left;
}

.home-01-wrap .content-section h3 {
	font-size: 13px;
	line-height: 27px;
	width: 50%;
	text-align: left;
}

.home-01-wrap .mach-button-section {
	text-align: left;
}

/*Home Page 2*/

.home-02-wrap .cd-headline {
	font-size: 36px;
	line-height: 31px;
	letter-spacing: 8px;
	padding-left: 8px;
}

/*Home Page 3*/


.home-03-wrap .text h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 6px;
}

.home-03-wrap .subtext h3 {
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 3px;
}

/*Home Page 4*/

.home-04-wrap .heading-section h1 {
    font-size: 20px;
    line-height: 27px;
    text-align: left;
}

.home-04-wrap .heading-section h3 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    text-align: left;
}

.home-04-wrap .heading-section .cd-intro h1 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    text-align: left;
}

/*Home Page 5*/

.home-05-wrap .owl-item .content-section h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-05-wrap .owl-item .content-section p {
	width: 100%;
	margin-left: 0;
}

.home-05-wrap .owl-item .content-section .mach-button-section {
	padding: 0px 10px;
}

.home-05-wrap .content-section .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-05-wrap .content-section .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

/*Home Page 6*/


.home-06-wrap .content-section h2 span {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 4px;
    padding: 10px 8px 8px 12px;
} 

.home-06-wrap .content-section h1 {
    margin-top: 20px;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 4px;
    padding-left: 4px;
}

/*Home Page 7*/

.home-07 .home-07-wrap .main-heading h3 {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 6px;
    padding-left: 6px;
}

.home-07 .home-07-wrap .main-heading h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 4px;
    padding-left: 4px;
    margin-top: 20px;
}

.home-07 .home-07-wrap .main-heading h2 {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-07-wrap .mach-button-section {
	padding: 0px 10px;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-07 .home-07-wrap .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

/*Home Page 8*/

.home-08-content-section .content h1 {
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 4px;
    padding-left: 4px;
}

.home-08-content-section .content p {
	width: 100%;
	margin-left: 0;
	padding: 5px;
}

.home-08-wrap .mach-button-section {
	padding: 0px 10px;
}

.home-08-content-section .mach-button-section .mach-button:first-child {
	margin-right: 0;
}

.home-08-content-section .mach-button-section .mach-button:last-child {
	margin-left: 0;
}

}

