/*salinda*/
.color {
    background: #a60851 !important;
}
.logo-img{
  width: 400px;
  
}
.input-txt{
      margin: 15px 0px;
    border-radius: 0px;
    padding: 11px;
    height: auto;
    border: 1px solid #636161;
}
.submit-btn{
      background: #f44336;
    border-radius: 0px;
    border: 0px;
    padding: 8px 30px;
}
.map-div{
    height: 400px;
}
.map-div-left{
  padding-left: 4px !important;
}
.map-div-right{
  padding-right: 4px !important;
}
/*salinda*/

.white {
  color: #FFFFFF;
}
.light-white {
  color: #f3f3f3;
}
.dark-white {
  color: #e3e3e3;
}
.black {
  color: #000000;
}
.lighter-black {
  color: #333333;
}
.lighter-more-black {
  color: #404040;
}
.light-more-black {
  color: #1F1F1F;
}
.main {
  color: #D32F2F;
}
.main-subtle {
  color: #F44336;
}
.grey {
  color: #7c7c7c;
}
.light-grey {
  color: #CCCCCC;
}
.white-bg {
  background-color: #FFFFFF;
}
.white-rgba-high-bg {
  background: rgba(255, 255, 255, 0.75);
}
.light-white-bg {
  background-color: #f3f3f3;
}
.dark-white-bg {
  background-color: #e3e3e3;
}
.black-bg {
  background-color: #000000;
}
.lighter-black-bg {
  background-color: #333333;
}
.lighter-more-black-bg {
  background-color: #404040;
}
.black-rgba-high-bg {
  background: rgba(0, 0, 0, 0.75);
}
.light-more-black-bg {
  background-color: #1F1F1F;
}
.main-bg {
  background-color: #D32F2F;
}
.main-subtle-bg {
  background-color: #F44336;
}
.grey-bg {
  background-color: #7c7c7c;
}
.light-grey-bg {
  background-color: #CCCCCC;
}
::selection {
  background: #FFFFFF;
  color: #D32F2F;
}
::-moz-selection {
  background: #FFFFFF;
  color: #D32F2F;
}
.mach-button-section .mach-button-type-one:hover {
  background: #1F1F1F;
}
.mach-button-section .mach-button-type-two:hover {
  background: #F44336;
}
.mach-button-section .mach-button-type-three:hover {
  background: #F44336;
}
.vertical-menu ul li a:hover,
.vertical-menu ul li a:active {
  color: #D32F2F;
}
.main-vertical-nav-wrap .vertical-nav-container:after {
  background: #000000;
}
.main-horizontal-nav-wrap ul.menu > li > a:hover {
  color: #D32F2F;
}
.main-horizontal-nav-wrap ul.menu > li:not(.megamenu).has-dropdown > .dropdown > li:hover > a {
  background: #1F1F1F;
  color: #FFFFFF;
}
.main-horizontal-nav-wrap.nav-sticky-on {
  background: #1F1F1F;
}
.main-horizontal-nav-wrap.nav-sticky-on ul.menu > li > a {
  color: #f3f3f3;
}
.main-horizontal-nav-wrap.on-mob-nav {
  background: #1F1F1F;
}
.main-horizontal-nav-wrap.on-mob-nav ul.menu > li > a {
  color: #FFFFFF;
}
.home-06-wrap .cd-headline.type .cd-words-wrapper.selected b {
  color: #FFFFFF;
}
.top-separator:after,
.bottom-separator:before {
  background: #7c7c7c;
}
.name-desc-block .name:after {
  background: #D32F2F;
}
.featherlight-next:hover span,
.featherlight-previous:hover span {
  color: #D32F2F;
}
.featherlight .featherlight-close-icon {
  background: #FFFFFF;
}
.featherlight .featherlight-close-icon i {
  color: #000000;
}
.featherlight .featherlight-close-icon:hover {
  background: #D32F2F;
}
.featherlight .featherlight-close-icon:hover i {
  color: #FFFFFF;
}
.owl-theme .owl-dots .owl-dot span {
  background: #CCCCCC;
}
.owl-theme .owl-dots .owl-dot:hover span {
  background: #CCCCCC;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: #D32F2F;
}
.owl-theme .owl-nav [class*=owl-] i {
  color: #FFFFFF;
}
.owl-theme .owl-nav [class*=owl-]:hover i {
  color: #D32F2F;
}
.ytp-play-button {
  fill: #FFFFFF;
}
.testimonial-each-container {
  border-color: #333333;
  border-bottom-color: #F44336;
}
.testimonial-each-container:hover {
  border-color: #F44336;
}
.services-each-block .heading-section h4 {
  border-bottom-color: #F44336;
}
.services-each-block:after {
  background: #FFFFFF;
}
.counter-type-one-each:hover .desc p {
  color: #D32F2F;
}
.features-each-block:hover .heading-section h4 .icon-section {
  color: #D32F2F;
}
.skill-bars .level-full {
  background: #e3e3e3;
}
.skill-bars .level-full .actual-level {
  background: #F44336;
}
.grid-button .grid {
  background: #333333;
  color: #333333;
}
.portfolio-filter-nav:after {
  background: #FFFFFF;
}
.portfolio-filter-nav ul li a.active {
  color: #FFFFFF;
  background: #F44336;
}
.portfolio-filter-nav ul li a:hover {
  color: #D32F2F;
}
.portfolio-filter-nav ul li a.active:hover {
  color: #FFFFFF;
}
.team-each-container .img-section:after {
  background: #f3f3f3;
}
.team-each-container:hover .team-desc .name h3 {
  color: #D32F2F;
}
.team-each-container .team-desc .social-icons ul li a:hover i {
  color: #D32F2F;
}
.pricing-each-container .pricing-content-section .price-section {
  border-bottom-color: #1F1F1F;
}
.pricing-each-container:hover .pricing-type-section {
  background: #1F1F1F;
}
.pricing-each-container:hover .pricing-content-section .price-section .text {
  color: #D32F2F;
}
.blog-each-container .img-section figure:after {
  background: #FFFFFF;
}
.newsletter-form input[type="text"] {
  border-color: #7c7c7c;
}
.contact-form input[type="text"],
.contact-form textarea {
  border-color: #7c7c7c;
}
.contact-form ::-webkit-input-placeholder {
  color: #7c7c7c;
}
.contact-form :-moz-placeholder {
  color: #7c7c7c;
}
.contact-form ::-moz-placeholder {
  color: #7c7c7c;
}
.contact-form :-ms-input-placeholder {
  color: #7c7c7c;
}
.footer-wrap .social-icons ul li a:hover i {
  color: #D32F2F;
}
.home-01-wrap .overlay svg path {
  fill: #1F1F1F;
}
