/*FONTS.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Author: UNBRANDED.*/
/* Website: http://www.unbranded.co */
/* Copyright: (C) 2015 */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* YOUR CUSTOM FONTS CAN BE DEFINED HERE VIA CSS3 FONT-FACE TECHNOLOGY*/
/* More info : http://www.littleboxofideas.com/blog/tutorials/how-do-i-implement-font-face */
/*-------------------------------------------------------------------------------------------------------------------------------*/
.font1 {
  font-family: 'Roboto', sans-serif;
}
.font2 {
  font-family: 'PT Sans', sans-serif;
}
